<!-- new widget -->
<div class="jarviswidget jarviswidget-color-blueLight">
    <header>
        <span class="widget-icon">
            <i class="fa fa-plus-circle txt-color-blueDark"></i>
        </span>

        <h2> Quick Add Task </h2>
    </header>

    <!-- widget div-->
    <div>

        <div class="widget-body">
            <!-- content goes here -->

            <form id="add-event-form">
                <fieldset>

                    <div class="form-group">
                        <label>Select Task Type</label>

                        <div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="iconselect" id="icon-1" value="fa-info" checked>
                                <i class="fa fa-info text-muted"></i>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="iconselect" id="icon-2" value="fa-warning">
                                <i class="fa fa-warning text-muted"></i>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="iconselect" id="icon-3" value="fa-check">
                                <i class="fa fa-check text-muted"></i>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="iconselect" id="icon-4" value="fa-user">
                                <i class="fa fa-user text-muted"></i>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="iconselect" id="icon-5" value="fa-lock">
                                <i class="fa fa-lock text-muted"></i>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="iconselect" id="icon-6" value="fa-clock-o">
                                <i class="fa fa-clock-o text-muted"></i>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Claim</label>
                        <input class="form-control" id="title" name="title" maxlength="40" type="text"
                               placeholder="Event Title">
                    </div>
                    <div class="form-group">
                        <label>Task Description</label>
                        <textarea class="form-control" placeholder="Please be brief" rows="3" maxlength="40"
                                  id="description"></textarea>

                        <p class="note">Maxlength is set to 40 characters</p>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default" type="button" id="add-event">
                                Add Task
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- end content -->
        </div>

    </div>
    <!-- end widget div -->
</div>
