<div>

    <div>
        <!-- widget content -->
        <div class="widget-body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 show-stats">
                <div class="row">
                    <!-- Tasks --->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3" style="padding-left: 0; padding-right: 1px">
                        <div data-bind='template: { name: "tasksStatsTemplate",
                                                    afterRender: onTasksStatsTemplRender.bind($data) }'></div>
                    </div>
                    <!-- Billing --->
                    <!-- ko if: isBillingEnabled -->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3" style="padding-left: 1px; padding-right: 1px">
                        <div data-bind='template: { name: "billStatsTemplate",
                                                    afterRender: onBillStatsTemplRender }'></div>
                    </div>
                    <!-- /ko -->
                    <!-- Closed claims --->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3" style="padding-left: 1px; padding-right: 0">
                        <div data-bind='template: { name: "closedClaimsStatsTemplate",
                                                    afterRender: onclosedClaimsStatsTemplRender.bind($data) }'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Billing -->
<script type="text/html" id="billStatsTemplate">
    <div class="well stats-well text-left">
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <!--TODO: add time ranges-->
                <!--
                <div class="btn-group">
                    <button class="btn btn-sm dropdown-toggle btn-link"
                            data-toggle="dropdown"
                            data-bind="html: 'Today'">
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-bind="html: 'Month to date'"></a>
                            <a data-bind="html: 'Year to date'"></a>
                        </li>
                    </ul>
                </div>
                -->
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <p class="stats-counter-header-text text-center">BILLING</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <p class="stats-counter-primary-text text-nowrap text-center"
                           data-bind="text: NumberUtils.niceCCY(billByBillingStatus()['Paid'])"></p>
                    </div>
                </div>
                <div class="row bottomMargin">
                    <div class="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10 bottomBorder darkGray">
                        <p class="stats-counter-accent-text text-center">PAID</p>
                    </div>
                </div>
                <div class="row topMargin">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <p class="stats-counter-secondary-text text-nowrap text-center"
                           data-bind="text: NumberUtils.niceCCY(billByBillingStatus()['Submitted'])"></p>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <p class="stats-counter-secondary-text text-nowrap text-center"
                           data-bind="text: NumberUtils.niceCCY(billByBillingStatus()['Not Submitted'])"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <p class="stats-counter-accent-text-muted text-center">SUBMITTED</p>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <p class="stats-counter-accent-text-muted text-center">NOT SUBMITTED</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- Tasks -->
<script type="text/html" id="tasksStatsTemplate">
    <div class="well stats-well text-left">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p class="stats-counter-header-text text-center">TODAY'S TASKS</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div id="tasksStatsCircliful" style="width: 90px; position: relative; left: 25%;"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="opacity: .87;">
                <!-- ko foreach: tasksByCategory -->
                <span data-bind="taskEntryTag: $data[0]"></span>
                <span class="stats-counter-secondary-text text-nowrap text-right" data-bind="text: $data[1]"></span>
                <br/>
                <!-- /ko -->
            </div>
        </div>
    </div>
</script>

<!-- Closed Claims -->
<script type="text/html" id="closedClaimsStatsTemplate">
    <div class="well stats-well text-center">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <span class="stats-counter-header-text">Claims</span>
                    <span class="stats-counter-primary-text text-center"
                          style="position: relative; top: 10px;"
                          data-bind="text: openClaimsCount"></span>
            </div>
            <div id="closedClaimsChartDiv" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <canvas id="closedClaimsChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 stats-counter-accent-text text-center">
                OPEN
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-center stats-counter-accent-text-muted">
                CLOSED PER MONTH
            </div>
        </div>
    </div>
</script>