<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Stats (Under construction)

            <ul class="nav nav-tabs pull-right in" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span
                            class="hidden-mobile hidden-tablet">Live Stats</span></a>
                </li>
                <li>
                    <a data-toggle="tab" href="#s3"><i class="fa fa-dollar"></i> <span
                            class="hidden-mobile hidden-tablet">Revenue</span></a>
                </li>
            </ul>
        </h3>
    </div>

    <div class="panel-body">
        <!-- widget content -->
        <div class="widget-body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 show-stats">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span class="text"> Today's Tasks <span
                            class="pull-right">130/200</span> </span>

                        <div class="progress">
                            <div class="progress-bar bg-color-blueDark" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span class="text"> Overdue <span
                            class="pull-right">8</span> </span>

                        <div class="progress">
                            <div class="progress-bar bg-color-blue" style="width: 34%;"></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                        <span class="text padding-5">Revenue</span>
                        <span class="sparks-info txt-color-blue">$47,171</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>