<div class="panel panel-default" data-bind="if: readyToRender">
    <div class="panel-heading">
        <h3>
            <i class="fa fa-file-text-o"></i>
            <div class="inline"
                 id="claimFormHeading"
                 data-bind="text: ObjectUtils.camelcaseToSpaces(form().type())"></div>
            <div class="pull-right">
                <a href="javascript:void(0);"
                   class="btn btn-default ghost-button pull-right hidden-xs"
                   style="top: -5px; position: relative;"
                   data-bind="click: printForm">
                    <span class="btn-label"><i class="fa fa-print"></i></span> Print
                </a>
            </div>
            <div class="pull-right">
                <a href="javascript:void(0);"
                   class="btn btn-default ghost-button pull-right hidden-xs"
                   style="top: -5px; position: relative;"
                   data-bind="click: onConvertToPdf">
                    <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span> Pdf
                </a>
            </div>
            <div class="pull-right">
                <a href="javascript:void(0);"
                   class="btn btn-default ghost-button pull-right hidden-xs"
                   style="top: -5px; position: relative;"
                   data-bind="click: onEmail">
                    <span class="btn-label"><i class="fa fa-envelope"></i></span> E-mail
                </a>
            </div>
        </h3>
    </div>

    <div class="panel-body">
        <!-- Form template -->
        <div id="claimFormPrintContainer"
             data-bind="template: { name: activeFormTmpl, data: form().data()}"></div>

        <!-- Footer buttons -->
        <div class="col-lg-5">
            <button id="claim-form-close"
                    type="button"
                    class="btn btn-default pull-right"
                    data-bind="click: onClose">Close</button>

            <button type="button" class="btn btn-info pull-right leftMargin2pc rightMargin5"
                    data-bind="click: onSave">Save
            </button>
        </div>
    </div>
</div>
