<div class="formContainer">

    <!-- ************************************************************************************************* -->
    <!-- NOTE: Input fields do not render in the print layout since the content is not in the DOM -->
    <!-- Hence there is a span for every input. In the @media print css inputs are hidden and spans shown -->
    <!-- ************************************************************************************************* -->

    <!-- **** SWORN STATEMENT IN PROOF OF LOSS **** -->
    <div class="formRowCentered">
        <div class="header">
            <div style="order: 1">SWORN STATEMENT IN PROOF OF LOSS</div>
        </div>
    </div>

    <!-- **** Top section **** -->
    <div class="formRow">
        <div class="formColumn" style="flex-basis: 25%; flex-grow: 0; align-content: flex-start;">
            <div class="formRow">
                <input data-bind="value: _id">
                <span data-bind="text: _id"></span>
            </div>
            <div class="formRowCentered">POLICY NUMBER</div>
            <div class="formRow">
                <input data-bind="value: b"/>
                <span data-bind="text: b"></span>
            </div>
            <div class="formRowCentered" style="font-size: .75em">AMOUNT OF POLICY AT TIME OF LOSS</div>
            <div class="formRow">
                <input data-bind="value: c"/>
                <span data-bind="text: c"></span>
            </div>
            <div class="formRowCentered">DATE ISSUED</div>
            <div class="formRow">
                <input data-bind="value: d"/>
                <span data-bind="text: d"></span>
            </div>
            <div class="formRowCentered">DATE EXPIRES</div>
        </div>
        <div class="formTextBox">
            ANY PERSON WHO KNOWINGLY AND WITH INTENT TO DEFRAUD ANY INSURANCE COMPANY OR OTHER PERSON FILES A STATMENT
            OF CLAIM CONTAINING ANY MATERIALLY FALSE INFORMATION, OR CONCEALS FOR THE PURPOSE OF MISLEADING, INFORMATION
            CONCERNING ANY FACT MATERIAL THERETO, COMMITS A FRAUDULENT INSURANCE ACT, WHICH IS A CRIME.
        </div>
        <div class="formColumn" style="flex-basis: 25%; flex-grow: 0; align-content: flex-end;">
            <div class="formRow">
                <input data-bind="value: e"/>
                <span data-bind="text: e"></span>
            </div>
            <div class="formRowCentered">OUR FILE No.</div>
            <div class="formRow">
                <input data-bind="value: f"/>
                <span data-bind="text: f"></span>
            </div>
            <div class="formRowCentered">COMPANY CLAIM NO.</div>
            <div class="formRow">
                <input data-bind="value: g"/>
                <span data-bind="text: g"></span>
            </div>
            <div class="formRowCentered">AGENCY AT</div>
            <div class="formRow">
                <input data-bind="value: h"/>
                <span data-bind="text: h"></span>
            </div>
            <div class="formRowCentered">AGENT</div>
        </div>
    </div>
    <div class="formRow" style="padding-bottom: 10px"></div>

    <!-- **** Text start **** -->
    <div class="formRow">
        <div style="order: 1">To the</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: i"/>
            <span data-bind="text: i"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1">of</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: j"/>
            <span data-bind="text: j"></span>
        </div>
    </div>

    <!-- At the time of loss -->
    <div class="formRow">
        <div style="order: 1">At the time of loss, by the above indicated policy of insurance you insured</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: k">
            <span data-bind="text: k"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1;">
            <input data-bind="value: ed"/>
            <span data-bind="text:ed"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1">against loss by</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: l"/>
            <span data-bind="text: l"></span>
        </div>
        <div style="order: 3;">to the property described under schedule "A" according to</div>
    </div>
    <div class="formRow">
        <div style="order: 1">the terms and conditions of the said policy and all forms, endorsements, transfers and
            assignments attached thereto
        </div>
    </div>

    <!-- **** 1. Time and origin **** -->
    <div class="formRow topMargin10">
        <div style="order: 1"><strong>1. Time and Origin:</strong> A</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: m"/>
            <span data-bind="text: m"></span>
        </div>
        <div style="order: 3;">loss occured about the hour of</div>
        <div style="flex-grow: 1; order: 4; flex-basis: 3em">
            <input data-bind="value: n"/>
            <span data-bind="text: n"></span>
        </div>
        <div style="order: 5;">o' clock</div>
        <div style="flex-grow: 1; order: 6; flex-basis: 3em">
            <input data-bind="value: o"/>
            <span data-bind="text: o"></span>
        </div>
        <div style="order: 7;">M.</div>
    </div>
    <div class="formRow">
        <div style="order: 1">on the</div>
        <div style="order: 2; flex-grow: 1; flex-basis: 1em">
            <input data-bind="value: p"/>
            <span data-bind="text: p"></span>
        </div>
        <div style="order: 3;">day of</div>
        <div style="order: 4; flex-grow: 1; flex-basis: 1em">
            <input data-bind="value: q"/>
            <span data-bind="text: q"></span>
        </div>
        <div style="order: 5;">20</div>
        <div style="order: 6; flex-grow: 1; flex-basis: 1em">
            <input data-bind="value: r"/>
            <span data-bind="text: r"></span>
        </div>
        <div style="order: 7;">. The cause and origin of the said loss were:</div>
        <div style="order: 8; flex-grow: 1; flex-basis: 5em">
            <input data-bind="value: s"/>
            <span data-bind="text: s"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1;">
            <input data-bind="value: t"/>
            <span data-bind="text: t"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1;">
            <input data-bind="value: u"/>
            <span data-bind="text: u"></span>
        </div>
    </div>

    <!-- **** 2. Occupancy **** -->
    <div class="formRow">
        <div style="order: 1"><strong>2. Occupancy:</strong> The building described, or containing the property
            described, was occupied at the time of the loss as follows,
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1">and for no other purpose whatever:</div>
        <div style="order: 2; flex-grow: 1;">
            <input data-bind="value: v"/>
            <span data-bind="text: v"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1;">
            <input data-bind="value: w"/>
            <span data-bind="text: w"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1;">
            <input data-bind="value: x"/>
            <span data-bind="text: x"></span>
        </div>
    </div>

    <!-- **** 3. Title and interest **** -->
    <div class="formRow">
        <div style="order: 1"><strong>3. Title and Interest:</strong> At the time of the loss the interest of your
            insured in the property described therin was
        </div>
        <div style="order: 2; flex-grow: 1; flex-basis: 2em">
            <input data-bind="value: y"/>
            <span data-bind="text: y"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1; flex-basis: 5em">
            <input data-bind="value: z"/>
            <span data-bind="text: z"></span>
        </div>
        <div style="order: 2">No other person or persons had any interest therein or</div>
    </div>
    <div class="formRow">
        <div style="order: 1">incumbrance thereon, except:</div>
        <div style="order: 2; flex-grow: 1;">
            <input data-bind="value: aa"/>
            <span data-bind="text: aa"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1;">
            <input data-bind="value: ab"/>
            <span data-bind="text: ab"></span>
        </div>
    </div>

    <!-- **** 4. Changes **** -->
    <div class="formRow">
        <div style="order: 1"><strong>3. Changes:</strong> Since the said policy was issued there has been no assignment
            thereof, or change of interest, use, occupancy
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1">possession, location or exposure of the property described, except:</div>
        <div style="order: 2; flex-grow: 1;">
            <input data-bind="value: ac"/>
            <span data-bind="text: ac"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1;">
            <input data-bind="value: ad"/>
            <span data-bind="text: ad"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1;">
            <input data-bind="value: ae"/>
            <span data-bind="text: ae"></span>
        </div>
    </div>

    <!-- **** 5. Total insurance **** -->
    <div class="formRow">
        <div style="order: 1"><strong>5. Total Insurance:</strong> The total amount of insurance upon the property
            descrobed by this policy was, at the time of the loss,
        </div>
    </div>
    <div class="formRow">
        <div style="order: 2">$</div>
        <div style="order: 3; flex-grow: 1; flex-basis: 3em">
            <input data-bind="value: af"/>
            <span data-bind="text: af"></span>
        </div>
        <div style="order: 4">, as more particularly specified in the apportionment attached under Schedule "C", besides
            which
        </div>
    </div>
    <div class="formRow">
        <div style="order: 5">there was no policy or other contract of insurance, written or oral, valid or invalid.
        </div>
    </div>

    <!-- **** 6. Actual Cash Value **** -->
    <div class="formRow topMargin15">
        <div style="order: 1"><strong>6. The Actual Cash Value</strong> of the said property at the time of the loss was
        </div>
        <div style="order: 2; flex-grow: 1" class="bottomBorderDashed"></div>
        <div style="order: 3;">$</div>
        <div style="order: 4; flex-grow: 0; flex-basis: 10em;">
            <input data-bind="value: ag"/>
            <span data-bind="text: ag"></span>
        </div>
    </div>

    <!-- **** 7. Whole loss and damage **** -->
    <div class="formRow topMargin15">
        <div style="order: 1"><strong>7. The Whole Loss and Damage </strong> was
        </div>
        <div style="order: 2; flex-grow: 1" class="bottomBorderDashed"></div>
        <div style="order: 3;">$</div>
        <div style="order: 4; flex-grow: 0; flex-basis: 10em;">
            <input data-bind="value: ah"/>
            <span data-bind="text: ah"></span>
        </div>
    </div>

    <!-- **** 8. Less amt **** -->
    <div class="formRow topMargin15">
        <div style="order: 1"><strong>8. Less Amount of Deductible </strong>
        </div>
        <div style="order: 2; flex-grow: 1" class="bottomBorderDashed"></div>
        <div style="order: 3;">$</div>
        <div style="order: 4; flex-grow: 0; flex-basis: 10em;">
            <input data-bind="value: ai"/>
            <span data-bind="text: ai"></span>
        </div>
    </div>

    <!-- **** 9. Amt claimed **** -->
    <div class="formRow topMargin15">
        <div style="order: 1"><strong>9. The Amount Claimed </strong> under the above numbered policy is
        </div>
        <div style="order: 2; flex-grow: 1" class="bottomBorderDashed"></div>
        <div style="order: 3;">$</div>
        <div style="order: 4; flex-grow: 0; flex-basis: 10em;">
            <input data-bind="value: aj"/>
            <span data-bind="text: aj"></span>
        </div>
    </div>

    <!-- **** Disclaimer **** -->
    <div class="formRow finePrint topMargin10">
        <div style="order: 1; margin-left: 1em">
            <strong>    The said loss did not originate by any act, design or procurement on the part
                of your insured, or this affiant; nothing has been done by or with the privity or consent of your insured or this affiant, to violate the
                conditions of the policy, or render it void; no articles are mentioned herein or in annexed schedules but such as were destroyed or damaged at
                the time of the said loss; no property saved has in any manner been concealed, and no attempt to deceive the said company, as to
                the extent of said loss, has in any manner been made. Any other information that may be required will be furnished and considered
                a part of this proof. The furnishing of this blank or the preparation of proofs by a representative of the above insurance
                company is not a waiver of any of its rights.</strong>
        </div>
    </div><div class="formRow finePrint topMargin10">
        <div style="order: 1; margin-left: 1em">
            <strong>    The furnishing of this blank or the preparation of proofs by a representative of the above insurance
                company is not a waiver of any of its rights.</strong>
        </div>
    </div>

    <!-- **** State of **** -->
    <div class="formRow" style="padding-bottom: 15px"></div>
    <div class="formRow">
        <div style="order: 1">State of</div>
        <div style="order: 2; flex-grow: 0; flex-basis: 15em">
            <input data-bind="value: ak"/>
            <span data-bind="text: ak"></span>
        </div>
        <div style="order: 3; flex-grow: 1;"></div>
        <div style="order: 4; flex-grow: 0; flex-basis: 25em">
            <input data-bind="value: al"/>
            <span data-bind="text: al"></span>
        </div>
    </div>

    <!-- **** County of **** -->
    <div class="formRow" style="padding-bottom: 15px"></div>
    <div class="formRow">
        <div style="order: 1">County of</div>
        <div style="order: 2; flex-grow: 0; flex-basis: 15em">
            <input data-bind="value: am"/>
            <span data-bind="text: am"></span>
        </div>
        <div style="order: 3; flex-grow: 1;"></div>
        <div style="order: 4; flex-grow: 0; flex-basis: 22em">
            <input data-bind="value: an"/>
            <span data-bind="text: an"></span>
        </div>
        <div style="order: 5; flex-grow: 0; flex-basis: 2em">Insured</div>
    </div>

    <!-- **** Subscribed and sworn **** -->
    <div class="formRow topMargin15">
        <div style="order: 1">Subscribed and sworn to before me this</div>
        <div style="order: 2; flex-grow: 0; flex-basis: 5em">
            <input data-bind="value: ao"/>
            <span data-bind="text: ao"></span>
        </div>
        <div style="order: 3;">day of</div>
        <div style="order: 4; flex-grow: 0; flex-basis: 10em">
            <input data-bind="value: ap"/>
            <span data-bind="text: ap"></span>
        </div>
        <div style="order: 5;">20</div>
        <div style="order: 6; flex-grow: 0; flex-basis: 5em">
            <input data-bind="value: aq"/>
            <span data-bind="text: aq"></span>
        </div>
        <div style="order: 7; flex-grow: 1;"></div>
    </div>

    <!-- **** Notary public **** -->
    <div class="formRow topMargin15" style="page-break-after: always">
        <div style="order: 1; flex-grow: 0; flex-basis: 20em">
            <input data-bind="value: ar"/>
            <span data-bind="text: ar"></span>
        </div>
        <div style="order: 2">Notary Public</div>
        <div style="order: 3; flex-grow: 1;"></div>
    </div>

    <!-- ************************************************** -->
    <!-- **** Schedule A - Policy form **** -->
    <!-- ************************************************** -->
    <div class="formRow topMargin5pc bottomMargin10">
        <div style="order: 1; text-align: center; flex-grow: 1"><strong>SCHEDULE "A" - POLICY FORM</strong></div>
    </div>
    <div class="formRow">
        <div style="order: 1">Policy Form No.</div>
        <div style="order: 2; flex-grow: 0; flex-basis: 10em">
            <input data-bind="value: as"/>
            <span data-bind="text: as"></span>
        </div>
        <div style="order: 3">Dated</div>
        <div style="order: 4; flex-grow: 1">
            <input data-bind="value: at"/>
            <span data-bind="text: at"></span>
        </div>
    </div>

    <!-- **** Item 1 **** -->
    <div class="formRow">
        <div style="order: 1">Item 1. $</div>
        <div style="order: 2; flex-grow: 0; flex-basis: 10em">
            <input data-bind="value: au"/>
            <span data-bind="text: au"></span>
        </div>
        <div style="order: 3">on</div>
        <div style="order: 4; flex-grow: 1">
            <input data-bind="value: av"/>
            <span data-bind="text: av"></span>
        </div>
    </div>

    <!-- **** Item 2 **** -->
    <div class="formRow">
        <div style="order: 1">Item 2. $</div>
        <div style="order: 2; flex-grow: 0; flex-basis: 10em">
            <input data-bind="value: aw"/>
            <span data-bind="text: aw"></span>
        </div>
        <div style="order: 3">on</div>
        <div style="order: 4; flex-grow: 1">
            <input data-bind="value: ax"/>
            <span data-bind="text: ax"></span>
        </div>
    </div>

    <!-- **** Item 3 **** -->
    <div class="formRow">
        <div style="order: 1">Item 3. $</div>
        <div style="order: 2; flex-grow: 0; flex-basis: 10em">
            <input data-bind="value: ay"/>
            <span data-bind="text: ay"></span>
        </div>
        <div style="order: 3">on</div>
        <div style="order: 4; flex-grow: 1">
            <input data-bind="value: az"/>
            <span data-bind="text: az"></span>
        </div>
    </div>

    <!-- **** Item 4 **** -->
    <div class="formRow">
        <div style="order: 1">Item 4. $</div>
        <div style="order: 2; flex-grow: 0; flex-basis: 10em">
            <input data-bind="value: ba"/>
            <span data-bind="text: ba"></span>
        </div>
        <div style="order: 3">on</div>
        <div style="order: 4; flex-grow: 1">
            <input data-bind="value: bb"/>
            <span data-bind="text: bb"></span>
        </div>
    </div>

    <!-- **** Situated **** -->
    <div class="formRow">
        <div style="order: 1">Situated</div>
        <div style="order: 2; flex-grow: 1">
            <input data-bind="value: ef"/>
            <span data-bind="text: ef"></span>
        </div>
    </div>

    <!-- **** Coinsurance, Average, Distribution or Deductible Clauses, if any **** -->
    <div class="formRow">
        <div style="order: 1">Coinsurance, Average, Distribution or Deductible Clauses, if any</div>
        <div style="order: 2; flex-grow: 1">
            <input data-bind="value: bc"/>
            <span data-bind="text: bc"></span>
        </div>
    </div>

    <!-- **** Loss, if any, payable to **** -->
    <div class="formRow">
        <div style="order: 1">Loss, if any, payable to</div>
        <div style="order: 2; flex-grow: 1">
            <input data-bind="value: bd"/>
            <span data-bind="text: bd"></span>
        </div>
    </div>
    <div class="clear"></div>
    <!-- **** SCHEDULE "B" **** -->
    <div class="formRow topMargin5pc bottomMargin10">
        <div style="order: 1; text-align: center; flex-grow: 1"><strong>SCHEDULE "B"</strong></div>
    </div>
    <div class="formRow bottomMargin10">
        <div style="order: 1; text-align: center; flex-grow: 1"><strong>STATEMENT OF ACTUAL CASH VALUE AND LOSS AND
            DAMAGE</strong></div>
    </div>
    <div class="formRow">
        <table style="border: 1px solid black; width: 100%">
            <tr style="border-top-style: double; height: 2.5em">
                <td class="formTableHeaderCell"></td>
                <td class="formTableHeaderCell"></td>
                <td class="formTableHeaderCell text-center">ACTUAL CASH VALUE</td>
                <td class="formTableHeaderCell text-center">LOSS AND DAMAGE</td>
            </tr>
            <tbody>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: be">
                    <span data-bind="text: be"></span>
                </td>
                <td class="formTableCell width60pc">
                    <input class="width100pc" data-bind="value: bf">
                    <span data-bind="text: bf"></span>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bg">
                    <div class="numeric printNumeric" data-bind="text: bg"></div>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bh">
                    <div class="numeric printNumeric" data-bind="text: bh"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: bi">
                    <span data-bind="text: bi"></span>
                </td>
                <td class="formTableCell width60pc">
                    <input class="width100pc" data-bind="value: bj">
                    <span data-bind="text: bj"></span>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bk">
                    <div class="numeric printNumeric" data-bind="text: bk"></div>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bl">
                    <div class="numeric printNumeric" data-bind="text: bl"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: bm">
                    <span data-bind="text: bm"></span>
                </td>
                <td class="formTableCell width60pc">
                    <input class="width100pc" data-bind="value: bn">
                    <span data-bind="text: bn"></span>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bo">
                    <div class="numeric printNumeric" data-bind="text: bo"></div>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bp">
                    <div class="numeric printNumeric" data-bind="text: bp"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: bq">
                    <span data-bind="text: bq"></span>
                </td>
                <td class="formTableCell width60pc">
                    <input class="width100pc" data-bind="value: br">
                    <span data-bind="text: br"></span>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bs">
                    <div class="numeric printNumeric" data-bind="text: bs"></div>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bt">
                    <div class="numeric printNumeric" data-bind="text: bt"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: bu">
                    <span data-bind="text: bu"></span>
                </td>
                <td class="formTableCell width60pc">
                    <input class="width100pc" data-bind="value: bv">
                    <span data-bind="text: bv"></span>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bw">
                    <div class="numeric printNumeric" data-bind="text: bw"></div>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: bx">
                    <div class="numeric printNumeric" data-bind="text: bx"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: by">
                    <span data-bind="text: by"></span>
                </td>
                <td class="formTableCell width60pc">
                    <input class="width100pc" data-bind="value: bx">
                    <span data-bind="text: bz"></span>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: ca">
                    <div class="numeric printNumeric" data-bind="text: ca"></div>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: cb">
                    <div class="numeric printNumeric" data-bind="text: cb"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: cc">
                    <span data-bind="text: cc"></span>
                </td>
                <td class="formTableCell width60pc">
                    <input class="width100pc" data-bind="value: cd">
                    <span data-bind="text: cd"></span>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: ce">
                    <div class="numeric printNumeric" data-bind="text: ce"></div>
                </td>
                <td class="formTableCell width15pc">
                    <input class="width100pc numeric" data-bind="value: cf">
                    <div class="numeric printNumeric" data-bind="text: cf"></div>
                </td>
            </tr>
            </tbody>
            <tfoot style="border-bottom-style: double; height: 2em">
            <tr>
                <td class="formTableFooterCell width10pc"><strong>Totals</strong></td>
                <td class="formTableFooterCell width60pc">
                    <input class="width100pc" data-bind="value: cg">
                    <span data-bind="text: cg"></span>
                </td>
                <td class="formTableFooterCell width15pc">
                    <input class="width100pc numeric" data-bind="value: dx">
                    <div class="numeric printNumeric" data-bind="text: dx"></div>
                </td>
                <td class="formTableFooterCell width15pc">
                    <input class="width100pc numeric" data-bind="value: dy">
                    <div class="numeric printNumeric" data-bind="text: dy"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <!-- **** SCHEDULE "C" - APPORTIONMENT **** -->
    <div class="formRow topMargin5pc bottomMargin10">
        <div style="order: 1; text-align: center; flex-grow: 1"><strong>SCHEDULE "C" - APPORTIONMENT</strong></div>
    </div>
    <div class="formRow">
        <table style="border: 1px solid black; width: 100%">
            <tr style="border-top-style: double; height: 2.5em">
                <th class="formTableHeaderCell text-center">POLICY NO.</th>
                <th class="formTableHeaderCell text-center">EXPIRES</th>
                <th class="formTableHeaderCell text-center">NAME OF COMPANY</th>
                <th class="formTableHeaderCell text-center" colspan="2">ITEM NO.</th>
                <th class="formTableHeaderCell text-center" colspan="2">ITEM NO.</th>
            </tr>
            <tr style="height: 1.5em">
                <th class="formTableHeaderCell" style="border-top: none"></th>
                <th class="formTableHeaderCell" style="border-top: none"></th>
                <th class="formTableHeaderCell" style="border-top: none"></th>
                <th class="formTableHeaderCell text-center">INSURES</th>
                <th class="formTableHeaderCell text-center">PAYS</th>
                <th class="formTableHeaderCell text-center">INSURES</th>
                <th class="formTableHeaderCell text-center">PAYS</th>
            </tr>
            <tbody>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: cg">
                    <span data-bind="text: cg"></span>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: ch">
                    <span data-bind="text: ch"></span>
                </td>
                <td class="formTableCell width40pc">
                    <input class="width100pc" data-bind="value: ci">
                    <span data-bind="text: ci"></span>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cj">
                    <div class="numeric printNumeric" data-bind="text: cj"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: ck">
                    <div class="numeric printNumeric" data-bind="text: ck"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cl">
                    <div class="numeric printNumeric" data-bind="text: cl"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cm">
                    <div class="numeric printNumeric" data-bind="text: cm"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: cn">
                    <span data-bind="text: cn"></span>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: co">
                    <span data-bind="text: co"></span>
                </td>
                <td class="formTableCell width40pc">
                    <input class="width100pc" data-bind="value: cp">
                    <span data-bind="text: cp">
                </span>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cq">
                    <div class="numeric printNumeric" data-bind="text: cq"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cr">
                    <div class="numeric printNumeric" data-bind="text: cr"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cs">
                    <div class="numeric printNumeric" data-bind="text: cs"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: ct">
                    <div class="numeric printNumeric" data-bind="text: ct"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: cu">
                    <span data-bind="text: cu"></span>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: cv">
                    <span data-bind="text: cv"></span>
                </td>
                <td class="formTableCell width40pc">
                    <input class="width100pc" data-bind="value: cw">
                    <span data-bind="text: cw"></span>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cx">
                    <div class="numeric printNumeric" data-bind="text: cx"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cy">
                    <div class="numeric printNumeric" data-bind="text: cy"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: cz">
                    <div class="numeric printNumeric" data-bind="text: cz"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: da">
                    <div class="numeric printNumeric" data-bind="text: da"></div>
                </td>
            </tr>
            <tr>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: db">
                    <span data-bind="text: db"></span>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc" data-bind="value: dc">
                    <span data-bind="text: dc"></span>
                </td>
                <td class="formTableCell width40pc">
                    <input class="width100pc" data-bind="value: dd">
                    <span data-bind="text: dd"></span>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: de">
                    <div class="numeric printNumeric" data-bind="text: de"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: df">
                    <div class="numeric printNumeric" data-bind="text: df"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: dg">
                    <div class="numeric printNumeric" data-bind="text: dg"></div>
                </td>
                <td class="formTableCell width10pc">
                    <input class="width100pc numeric" data-bind="value: dh">
                    <div class="numeric printNumeric" data-bind="text: dh"></div>
                </td>
            </tr>
            </tbody>
            <tfoot style="border-bottom-style: double; height: 2em">
            <tr>
                <td class="formTableFooterCell width10pc"><strong>Totals</strong></td>
                <td class="formTableFooterCell width10pc">
                    <input class="width100pc" data-bind="value: di">
                    <span data-bind="text: di"></span>
                </td>
                <td class="formTableFooterCell width40pc">
                    <input class="width100pc" data-bind="value: dj">
                    <span data-bind="text: dj"></span>
                </td>
                <td class="formTableFooterCell width10pc">
                    <input class="width100pc numeric" data-bind="value: dz">
                    <div class="numeric printNumeric" data-bind="text: dz"></div>
                </td>
                <td class="formTableFooterCell width10pc">
                    <input class="width100pc numeric" data-bind="value: ea">
                    <div class="numeric printNumeric" data-bind="text: ea"></div>
                </td>
                <td class="formTableFooterCell width10pc">
                    <input class="width100pc numeric" data-bind="value: eb">
                    <div class="numeric printNumeric" data-bind="text: eb"></div>
                </td>
                <td class="formTableFooterCell width10pc">
                    <input class="width100pc numeric" data-bind="value: ec">
                    <div class="numeric printNumeric" data-bind="text: ec"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <!-- **** Adjuster **** -->
    <div class="formRow topMargin15" style="width: 50%; float: right">
        <div style="order: 1; flex-grow: 1">
            <input data-bind="value: dk"/>
            <span data-bind="text: dk"></span>
        </div>
        <div style="order: 2">Adjuster</div>
    </div>
    <div class="clear"></div>

    <!-- **** RECEIPT FOR PAYMENT **** -->
    <div class="formRow topMargin15 bottomMargin10">
        <div style="order: 1; text-align: center; flex-grow: 1"><strong>RECEIPT FOR PAYMENT</strong></div>
    </div>
    <div class="formRow">
        <div style="order: 1">Received of</div>
        <div style="order: 2; flex-grow: 1; flex-basis: 10em">
            <input data-bind="value: dl"/>
            <span data-bind="text: dl"></span>
        </div>
        <div style="order: 3">(insurer) of</div>
        <div style="order: 4; flex-grow: 0; flex-basis: 20em">
            <input data-bind="value: dm"/>
            <span data-bind="text: dm"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1; flex-basis: 10em">
            <input data-bind="value: dn"/>
            <span data-bind="text: dn"></span>
        </div>
        <div style="order: 2">Dollars ($</div>
        <div style="order: 3; flex-grow: 0; flex-basis: 10em">
            <input data-bind="value: dp"/>
            <span data-bind="text: dp"></span>
        </div>
        <div style="order: 4">)</div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-grow: 1">in full satisfaction and indemnity for all claims and demands upon said
            company on account of said loss and damage and the
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1">said policy is hereby</div>
        <div style="order: 2; flex-grow: 1; flex-basis: 10em">
            <input data-bind="value: dq"/>
            <span data-bind="text: dq"></span>
        </div>
        <div style="order: 3">(State whether <strong>Reduced, Reduced and Reinstated</strong> or
            <strong>Canceled</strong> by payment.)
        </div>
    </div>
    <div class="formRow topMargin"></div>

    <!-- The insured -->
    <div class="formRow">
        <div style="order: 1">Dated</div>
        <div style="order: 2; flex-grow: 1; flex-basis: 15em">
            <input data-bind="value: dr"/>
            <span data-bind="text: dr"></span>
        </div>
        <div style="order: 3">20</div>
        <div style="order: 4; flex-grow: 1; flex-basis: 5em">
            <input data-bind="value: ds"/>
            <span data-bind="text: ds"></span>
        </div>
        <div style="order: 5; flex-grow: 0; flex-basis: 10em"></div>
        <div style="order: 6; flex-grow: 1; flex-basis: 20em">
            <input data-bind="value: dt"/>
            <span data-bind="text: dt"></span>
        </div>
    </div>
    <div class="formRow" style="justify-content: flex-end">
        The Insured
    </div>

    <!-- The Mortgagee -->
    <div class="formRow">
        <div style="order: 1">Dated</div>
        <div style="order: 2; flex-grow: 1; flex-basis: 15em">
            <input data-bind="value: du"/>
            <span data-bind="text: du"></span>
        </div>
        <div style="order: 3">20</div>
        <div style="order: 4; flex-grow: 1; flex-basis: 5em">
            <input data-bind="value: dv"/>
            <span data-bind="text: dv"></span>
        </div>
        <div style="order: 5; flex-grow: 0; flex-basis: 10em"></div>
        <div style="order: 6; flex-grow: 1; flex-basis: 20em">
            <input data-bind="value: dw"/>
            <span data-bind="text: dw"></span>
        </div>
    </div>
    <div class="formRow" style="justify-content: flex-end">
        The Mortgagee
    </div>
</div>