<div class="formContainer" style="padding: .8in">
    <!-- ************************************************************************************************* -->
    <!-- NOTE: Input fields do not render in the print layout since the content is not in the DOM -->
    <!-- Hence there is a span for every input. In the @media print css inputs are hidden and spans shown -->
    <!-- ************************************************************************************************* -->

    <!-- **** Company header **** -->
    <div class="formRow" style="justify-content: center; font-size: 1.1em">
        <div style="order: 1; align-content: center">PAUL GUTTMAN & CO., INC</div>
    </div>
    <div class="formRow" style="justify-content: center; font-size: 1.1em">
        <div style="order: 1; align-content: center">203 RACKAWAY AVE.</div>
    </div>
    <div class="formRow" style="justify-content: center; font-size: 1.1em">
        <div style="order: 1; align-content: center">VALLEY STREAM, NY 11580</div>
    </div>
    <div class="formRow" style="justify-content: center; font-size: 1.1em">
        <div style="order: 1; align-content: center">516-825-4800 FAX 516-825-4037</div>
    </div>
    <div class="formRow" class="topMargin10"></div>

    <!-- **** Text block **** -->
    <div class="formRow topMargin15">
        <div style="order: 1; flex-basis: 5em">INSURED:</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: a">
            <span data-bind="text: a"></span>
        </div>
    </div>
    <div class="formRow topMargin15">
        <div style="order: 1; flex-basis: 5em">FILE #</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: b">
            <span data-bind="text: b"></span>
        </div>
    </div>
    <div class="formRow topMargin15">
        <div style="order: 1; flex-basis: 5em">POLICY #</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: c">
            <span data-bind="text: c"></span>
        </div>
    </div>
    <div class="formRow topMargin15 bottomMargin15">
        <div style="order: 1">DATE OF LOSS:</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: d">
            <span data-bind="text: d"></span>
        </div>
    </div>
    <div class="topMargin1pc"></div>
    <div class="formRow">
        <div style="order: 1">THE NEW YORK STATE INSURANCE LAW REGULATION 10, 3RD AMENDMENT (11 NYC RR 25.12)</div>
    </div>
    <div class="topMargin5pc"></div>
    <div class="formRow">
        <div style="order: 1">"25.12 PAYMENT OF LOSSES. WHEN A CLAIM IS SETTLED WHERE THE INSURED IS REPRESENTED BY A
            PUBLIC ADJUSTER, UPON THE REQUEST OF THE INSURED, THE INSURER'S CHECK MAY BE MADE PAYABLE TO BOTH
            THE PUBLIC ADJUSTER NAMED AS PAYEE, BUT NOT IN EXCESS OF THE AMOUNT OF THE PUBLIC ADJUSTER'S
            FEE, AS INDICATED IN THE WRITTEN COMPENSATION AGREEMENT SIGNED BY THE INSURED AND FILED WITH THE INSURER.
            THE BALANCE OF THE PROCEEDS SHALL BE MADE PAYABLE TO THE INSURED OR THE LOSS PAYEE, OR BOTH WHICHEVER IS APPROPRIATE."</div>
    </div>
    <div class="formRow topMargin1pc">
        <div style="order: 1">IN ACCORDANCE WITH THE LAW, PLEASE CHECK THE LINE OF YOUR CHOICE AND SIGN THIS LETTER
            WHERE
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1">INDICATED.</div>
    </div>
    <div class="topMargin5pc"></div>

    <!-- **** Signing panel **** -->
    <div class="formRow">
        <div style="flex-basis: 5em; flex-grow:0; order: 1">
            <input data-bind="value: e">
            <span data-bind="text: e"></span>
        </div>
        <div style="order: 2; flex-grow: 1">A CHECK MADE PAYABLE TO BOTH THE PUBLIC ADJUSTER AND THE NAMED</div>
    </div>
    <div class="formRow">
        <div style="flex-basis: 5em; flex-grow:0; order: 1"></div>
        <div style="order: 2">INSURED. (FOR THE AMOUNT NO GREATER THAN THE PUBLIC ADJUSTER'S FEE)</div>
    </div>
    <div class="topMargin1pc"></div>

    <!-- **** Signing panel 2 **** -->
    <div class="formRow">
        <div style="flex-basis: 5em; order: 1">
            <input data-bind="value: f">
            <span data-bind="text: f"></span>
        </div>
        <div style="order: 2; flex-grow: 0">A CHECK MADE PAYABLE TO:</div>
        <div style="flex-basis: 10em; flex-grow:1; order: 3">
            <input data-bind="value: g">
            <span data-bind="text: g"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="flex-basis: 5em; flex-grow: 0; order: 1"></div>
        <div style="order: 1">PUBLIC ADJUSTING FIRM IN THE AMOUNT OF THE FEE OF</div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-basis: 5em; flex-grow:0;">
        </div>
        <div style="order: 2; flex-grow: 0">$</div>
        <div style="order: 3; flex-basis: 10em; flex-grow:0;">
            <input data-bind="value: h">
            <span data-bind="text: h"></span>
        </div>
    </div>
    <div class="topMargin1pc"></div>

    <!-- **** Signing panel 3 **** -->
    <div class="formRow">
        <div style="flex-basis: 5em; order: 1">
            <input data-bind="value: i">
            <span data-bind="text: i"></span>
        </div>
        <div style="order: 2; flex-grow: 0">A CHECK MADE PAYABLE TO THE INSURED IN THE AMOUNT OF THE BALANCE</div>
    </div>
    <div class="formRow">
        <div style="flex-basis: 5em; flex-grow: 0; order: 1"></div>
        <div style="order: 1">PAYABLE.</div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-basis: 5em; flex-grow:0;">
        </div>
        <div style="order: 2; flex-grow: 0">$</div>
        <div style="order: 3; flex-basis: 10em; flex-grow:0;">
            <input data-bind="value: j">
            <span data-bind="text: j"></span>
        </div>
    </div>
    <div class="topMargin1pc"></div>

    <!-- **** Date signed 1 **** -->
    <div class="topMargin5pc"></div>
    <div class="topMargin5pc"></div>
    <div class="formRow">
        <div style="order: 1; flex-basis: 10em; flex-grow:0;">
            <input data-bind="value: k">
            <span data-bind="text: k"></span>
        </div>
        <div style="order: 2; flex-basis: 10em; flex-grow:0;"></div>
        <div style="order: 3; flex-basis: 20em; flex-grow:0;">
            <input data-bind="value: l">
            <span data-bind="text: l"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-basis: 10em; flex-grow:0;">DATE SIGNED</div>
        <div style="order: 2; flex-basis: 10em; flex-grow:0;"></div>
        <div style="order: 3; flex-basis: 20em; flex-grow:0;">INSUREDS SIGNATURE</div>
    </div>

    <!-- **** Date signed 2 **** -->
    <div class="topMargin5pc"></div>
    <div class="topMargin5pc"></div>
    <div class="formRow">
        <div style="order: 1; flex-basis: 10em; flex-grow:0;">
            <input data-bind="value: m">
            <span data-bind="text: m"></span>
        </div>
        <div style="order: 2; flex-basis: 10em; flex-grow:0;"></div>
        <div style="order: 3; flex-basis: 20em; flex-grow:0;">
            <input data-bind="value: n">
            <span data-bind="text: n"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-basis: 10em; flex-grow:0;">DATE SIGNED</div>
        <div style="order: 2; flex-basis: 10em; flex-grow:0;"></div>
        <div style="order: 3; flex-basis: 20em; flex-grow:0;">INSUREDS SIGNATURE</div>
    </div>

    <!-- **** Date signed 3 **** -->
    <div class="topMargin5pc"></div>
    <div class="topMargin5pc"></div>
    <div class="formRow">
        <div style="order: 1; flex-basis: 10em; flex-grow:0;">
            <input data-bind="value: o">
            <span data-bind="text: o"></span>
        </div>
        <div style="order: 2; flex-basis: 10em; flex-grow:0;"></div>
        <div style="order: 3; flex-basis: 20em; flex-grow:0;">
            <input data-bind="value: p">
            <span data-bind="text: p"></span>
        </div>
    </div>
    <div class="formRow">
        <div style="order: 1; flex-basis: 10em; flex-grow:0;">DATE SIGNED</div>
        <div style="order: 2; flex-basis: 10em; flex-grow:0;"></div>
        <div style="order: 3; flex-basis: 20em; flex-grow:0;">INSUREDS SIGNATURE</div>
    </div>

    <div class="topMargin5pc"></div>
    <div class="formRow">
        <div style="order: 1">AN UNALTERED COPY OF THE COMPENSATION AGREEMENT MUST BE ATTACHED TO THIS COMPLETED FORM
        </div>
    </div>

</div>