<div class="formContainer" style="padding: .4in .5in;">
    <!-- ************************************************************************************************* -->
    <!-- NOTE: Input fields do not render in the print layout since the content is not in the DOM -->
    <!-- Hence there is a span for every input. In the @media print css inputs are hidden and spans shown -->
    <!-- ************************************************************************************************* -->

    <div class="formRowCentered">
        <h3 style="order: 1">SUBROGATION RECEIPT</h3>
    </div>
    <div class="formRow topMargin10">
        <div style="order: 1">Received of the</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: a"/>
            <span data-bind="text: a"></span>
        </div>
        <div style="order: 3;">company the sum of</div>
    </div>
    <div class="formRow topMargin10">
        <div style="flex-grow: 1; order: 1">
            <input data-bind="value: b"/>
            <span data-bind="text: b"></span>
        </div>
        <div style="order: 2">Dollars ($</div>
        <div style="flex-grow: 0; flex-basis: 10em; order: 3">
            <input data-bind="value: c"/>
            <span data-bind="text: c"></span>
        </div>
        <div style="order: 4;">) in full satisfaction of all</div>
    </div>
    <div class="formRow topMargin10">
        <div style="order: 1">claims and demands of the undersigned against the said company under its policy No.</div>
        <div style="flex-grow: 0; flex-basis: 10em; order: 2">
            <input data-bind="value: d"/>
            <span data-bind="text: d"></span>
        </div>
    </div>
    <div class="formRow topMargin10">
        <div style="order: 1">arising from or connected with any loss or damage by reason of</div>
        <div style="flex-grow: 1; order: 2">
            <input data-bind="value: e"/>
            <span data-bind="text: e"></span>
        </div>
    </div>
    <div class="formRow topMargin10">
        <div style="flex-grow: 1; order: 1">
            <input data-bind="value: f"/>
            <span data-bind="text: f"></span>
        </div>
    </div>
    <div class="formRow topMargin10">
        <div style="order: 1">which loss or damage occurred on or about the</div>
        <div style="flex-grow: 1; flex-basis: 5em; order: 2">
            <input data-bind="value: g"/>
            <span data-bind="text: g"></span>
        </div>
        <div style="order: 3">day of</div>
        <div style="flex-grow: 1; order: 4">
            <input data-bind="value: h"/>
            <span data-bind="text: h"></span>
        </div>
        <div style="order: 5">20</div>
        <div style="flex-grow: 0; flex-basis: 5em; order: 6">
            <input data-bind="value: i"/>
            <span data-bind="text: i"></span>
        </div>
    </div>
    <div class="formRow bottomMargin15"></div>

    <div class="formRow bottomMargin15">
        In consideration of and to the extent of said payment, the undersigned hereby surrogates. assigns and transfers
        to the said company all of the rights, claims, demands and interest which the undersigned has or may have
        against any parties for said loss or damage, and said company is hereby authorized and empowered to sue,
        compromise or settle same in the name of the undersigned or otherwise, but for the sole use of said company
        and at its ownn cost, and it is further authorized to collect and receipt for any moneys which may be paid
        upon said claims; to endorse in the name of the undersigned in his interest and behalf, any check or drafts
        given in payment of said claims: to cash such checks or drafts, and to retain the proceeds thereof; and said,
        company is hereby constituted the attorney-in-fact for the undersigned for said purposes and to sign releases,
        and to execute any and all contracts, documents or releases, in the name of the undersigned, that may be
        necessary in the prosecution. litigation or settlement of said claims, subject to the foregoing, said insurance
        company shall thereupon be subrogated to all rights of the undersigned against any such parties for such loss
        and damage, the undersigned has not released and will not release any portion of said claims, except as
        hereinafter indicated.
    </div>
    <div class="formRow bottomMargin10"></div>

    <!-- **** Exceptions **** -->
    <div class="formRow">
        <div class="formRow rightMargin5" style="flex-basis: 50%; flex-grow: 0; order: 1">Exceptions:</div>
        <div class="formRow finePrint leftMargin2pc" style="flex-basis: 50%; flex-grow: 0; order: 1">
            "Any person who knowingly and with intent to defraud any insurance company or other person files an
            application for insurance or statement of claim containing any materially false information or conceals
            for the purpose of misleading, information concerning any fact material thereto, commits a fraudulent
            insurance act, which is a crime"
        </div>
    </div>
    <!-- Dated -->
    <div class="formRow">
        <div class="formRow rightMargin2pc" style="flex-basis: 50%; flex-grow: 0; order: 1; align-content: flex-start">
            <div style="order: 1">Dated:</div>
            <div style="flex-grow: 1; flex-basis: 10em; order: 2">
                <input data-bind="value: j"/>
                <span data-bind="text: j"></span>
            </div>
            <div style="order: 3">20</div>
            <div style="flex-grow: 0; flex-basis: 5em; order: 4">
                <input data-bind="value: k"/>
                <span data-bind="text: k"></span>
            </div>
        </div>
    </div>

    <!-- **** WITNESS **** -->
    <div class="formRow topMargin10">
        <div class="formRow rightMargin2pc" style="flex-basis: 50%; flex-grow: 0; order: 1; align-content: flex-start">
            <div style="order: 1; align-self: flex-end; font-size: 1.25em">WITNESS:</div>
        </div>
        <div class="formRow leftMargin2pc" style="flex-basis: 50%; flex-grow: 0; order: 1">
            <div style="flex-grow: 1; flex-basis: 5em; order: 4">
                <input data-bind="value: l"/>
                <span data-bind="text: l"></span>
            </div>
        </div>
    </div>
    <!-- blank lines -->
    <div class="formRow topMargin10">
        <div class="formRow rightMargin2pc" style="flex-basis: 50%; flex-grow: 0; order: 1; align-content: flex-start">
            <div style="flex-grow: 1; flex-basis: 5em; order: 4">
                <input data-bind="value: m"/>
                <span data-bind="text: m"></span>
            </div>
        </div>
        <div class="formRow leftMargin2pc" style="flex-basis: 50%; flex-grow: 0; order: 1">
            <div style="flex-grow: 1; flex-basis: 5em; order: 4">
                <input data-bind="value: n"/>
                <span data-bind="text: n"></span>
            </div>
        </div>
    </div>
    <!-- blank lines -->
    <div class="formRow topMargin10">
        <div class="formRow rightMargin2pc" style="flex-basis: 50%; flex-grow: 0; order: 1; align-content: flex-start">
            <div style="flex-grow: 1; flex-basis: 5em; order: 1">
                <input data-bind="value: o"/>
                <span data-bind="text: o"></span>
            </div>
        </div>
        <div class="formRow leftMargin2pc" style="flex-basis: 50%; flex-grow: 0; order: 1">
            <div style="order: 1">By</div>
            <div style="flex-grow: 1; flex-basis: 5em; order: 1">
                <input data-bind="value: p"/>
                <span data-bind="text: p"></span>
            </div>
        </div>
    </div>
    <div class="formRow" style="justify-content: flex-end">
        <div class="formRow finePrint">
            Officer
        </div>
    </div>

    <div class="formRow topMargin10">
        <!-- **** FOR INDIVIDUALS **** -->
        <div class="rightMargin2pc"
             style="flex-direction: column; flex-grow: 0; flex-basis: 50%; order: 1;">
            <div class="formRow" style="justify-content: center">
                <div class="formRow">
                    <div>FOR INDIVIDUALS</div>
                </div>
            </div>
            <div class="formRow topMargin10">
                State of
            </div>
            <div class="formRow topMargin10">
                County of
            </div>
            <!-- On the ... -->
            <div class="formRow topMargin10">
                <div>On the</div>
                <div style="flex-grow: 0; flex-basis: 4em;">
                    <input data-bind="value: q"/>
                    <span data-bind="text: q"></span>
                </div>
                <div>day of</div>
                <div style="flex-grow: 1; flex-basis: 5em;">
                    <input data-bind="value: r"/>
                    <span data-bind="text: r"></span>
                </div>
                <div>20</div>
                <div style="flex-grow: 0; flex-basis: 3em;">
                    <input data-bind="value: s"/>
                    <span data-bind="text: s"></span>
                </div>
            </div>
            <!-- Before he came ... -->
            <div class="formRow">
                <div>Before he came</div>
                <div style="flex-grow: 1; flex-basis: 4em;">
                    <input data-bind="value: t"/>
                    <span data-bind="text: t"></span>
                </div>
            </div>
            <div class="formRow">
                <div>to me known to be the individual described in,</div>
            </div>
            <div class="formRow">
                <div>and who executed, the foregoing instrument, and</div>
            </div>
            <!-- acknowledged that ... -->
            <div class="formRow">
                <div>acknowledged that</div>
                <div style="flex-grow: 0; flex-basis: 4em;">
                    <input data-bind="value: u"/>
                    <span data-bind="text: u"></span>
                </div>
                <div>executed the same.</div>
            </div>
        </div>

        <!-- **** FOR CORPORATIONS **** -->
        <div class="formRow topMargin10 leftMargin2pc" style="flex-basis: 50%">
            <div class="rightMargin2pc"
                 style="flex-direction: column; flex-grow: 0; order: 2;">
                <div class="formRow" style="justify-content: center">
                    <div class="formRow">
                        <div>FOR CORPORATIONS</div>
                    </div>
                </div>
                <div class="formRow topMargin10">
                    State of
                </div>
                <div class="formRow topMargin10">
                    County of
                </div>
                <!-- On the ... -->
                <div class="formRow topMargin10">
                    <div>On the</div>
                    <div style="flex-grow: 0; flex-basis: 4em;">
                        <input data-bind="value: v"/>
                        <span data-bind="text: v"></span>
                    </div>
                    <div>day of</div>
                    <div style="flex-grow: 1; flex-basis: 5em;">
                        <input data-bind="value: w"/>
                        <span data-bind="text: w"></span>
                    </div>
                    <div>20</div>
                    <div style="flex-grow: 0; flex-basis: 3em;">
                        <input data-bind="value: x"/>
                        <span data-bind="text: x"></span>
                    </div>
                </div>
                <!-- Before he came ... -->
                <div class="formRow">
                    <div>Before he came</div>
                    <div style="flex-grow: 1; flex-basis: 4em;">
                        <input data-bind="value: y"/>
                        <span data-bind="text: y"></span>
                    </div>
                </div>
                <div class="formRow">
                    <div>to me known, who, being by me duly sworn, did</div>
                </div>
                <div class="formRow">
                    <div>depose and say that he resides in</div>
                    <div style="flex-grow: 1; flex-basis: 6em;">
                        <input data-bind="value: z"/>
                        <span data-bind="text: z"></span>
                    </div>
                </div>
                <!-- that he is the ... -->
                <div class="formRow">
                    <div>that he is the</div>
                    <div style="flex-grow: 1; flex-basis: 5em;">
                        <input data-bind="value: aa"/>
                        <span data-bind="text: aa"></span>
                    </div>
                </div>
                <div class="formRow">
                    <div style="flex-grow: 1; flex-basis: 10em;">
                        <input data-bind="value: ab"/>
                        <span data-bind="text: ab"></span>
                    </div>
                    <div>the corporation</div>
                </div>
                <div class="formRow">
                    <div>
                        described in, and which executed, the foregoing instrument; that he knows the seal of said
                        corporation; that the seal affixed to the said instrument is such corporate seal; that it was
                        so affixed by order of the board of directors of the said corporation; and that he signed his
                        name thereto by like order.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>