/**** Alignment ****/

.inline {
    display: inline-block;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

/**** Dimensions ****/

.narrow {
    width: 100px;
}

.normal {
    width: 150px;
}

.wide {
    width: 200px;
}

.clear {

}

/**** Menus ****/

.panelItem {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px 15px 15px;
    border-bottom-color: #EAEAEA;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #EAEAEA;
}

.gridPanelClosed {
    background-color: #F5F5F8;
}
