/**********************************************************/
/**** Alignment ****/
/**********************************************************/

div {
    white-space: normal;
}

.inline {
    display: inline-block;
}

.tableCell {
    display: table-cell;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

/**** Width Dimensions ****/

.narrow {
    width: 100px;
    min-width: 100px;
}

.normal {
    width: 150px;
    min-width: 150px;
}

.wide {
    width: 200px;
    min-width: 200px;
}

.wider {
    width: 250px;
    min-width: 250px;
}

/**********************************************************/
/**** Margins and borders ****/
/**********************************************************/

.topMargin {
    margin-top: 2px;
}

.topMargin5 {
    margin-top: 5px;
}

.topMargin1pc {
    margin-top: 1%;
}

.topMargin5pc {
    margin-top: 5%;
}

.bottomMargin {
    margin-bottom: 2px;
}

.bottomMargin5 {
    margin-bottom: 5px;
}

.leftMargin {
    margin-left: 2px;
}

.leftMargin5 {
    margin-left: 5px;
}

.leftMargin1pc {
    margin-left: 1%;
}

.leftMargin2pc {
    margin-left: 2%;
}

.rightMargin {
    margin-right: 2px;
}

.rightMargin5 {
    margin-right: 5px;
}

.paddingRight5 {
    padding-right: 5px;
}

.topBorderSolid {
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #E2E4E7;
}

.topBorder {
    border-top: dotted;
    border-top-width: 1px;
    border-top-color: #2d6ca2;
}

.rightBorderSolid {
    border-right: solid;
    border-right-width: 1px;
    border-right-color: rgb(228, 229, 230);
}

.bottomBorderDashed {
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.bottomBorder {
    border-bottom: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #2d6ca2;
}

.noBorder {
    border: 0;
}

.noShadow {
    box-shadow: none;
}

.clear {
    clear: both;
}

.overflowY {
    overflow-y: auto;
}

/**********************************************************/
/**** Form elements ****/
/**********************************************************/

.fileDropBox {
    width: 80%;
    min-height: 50px;
    border-color: lightslategrey;
    border-width: 1px;
    border-style: dotted;
    position: relative;
    font-size: small;
}

.fieldLabel {
    display: inline-block;
    text-align: right;
    padding-right: 2px;
}

.backgroundLabel {
    color: lightgray;
    font-size: small;
    position: absolute;
    bottom: 0%;
    right: 1%;
}

.strong {
    background-color: #F7F7F9;
    color: #222222;
    font-weight: 500;
}

#modal-button {
    display: none
}

.form-control.no-border {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid;
}

/**********************************************************/
/**** Map ****/
/**********************************************************/

.pac-container {
    z-index: 1051 !important;
}

@media only screen and (max-device-width: 1024px) {
    #map-button {
        display: none
    }

    #modal-button {
        display: inline-block
    }
}

@media only screen and (min-device-width: 1025px) {
    #map-button {
        display: inline-block
    }

    #modal-button {
        display: none
    }
}

.maps {
    width: 100%;
}

.modal.in .modal-dialog {
    width: 90%;
}

#map-modal {
    min-height: 640px;
}

.editable {
    border: 1px;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    border-color: darkgray;
}

.maps-datepicker {
    font-weight: 500;
    font-size: small;
}

/**********************************************************/
/**** Navigation panels ****/
/**********************************************************/

.headerLabel {
    position: relative;
    top: -8px;
    left: 5px;
}

.headerLogo {
    width: 32px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin-top: 12px;
    margin-left: 5px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}

.headerLogo:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}

.slidingContainer {
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
    margin-left: 3px;
}

/**********************************************************/
/**** Billing ****/
/**********************************************************/

.panel-default .bill-heading {
    background-color: #ECEFF1;
}

.bg-color-greenLighter {
    background: #cde0c4;
}

/**********************************************************/
/**** Dashboard - Summary panel ****/
/**********************************************************/

.dashboardPanelCollapsedContent {
    background-color: #4C6887;
    padding: 0px;
}

.label-as-badge {
    border-radius: 1em;
}

/**********************************************************/
/**** Task Summary panel ****/
/**********************************************************/

/* First column color */
.summaryRow td:nth-child(2) {
    color: rgb(85, 85, 85);
}

.summaryGroupSelector {
    background-color: white;
    border: 0;
    box-shadow: none;
    color: rgb(110, 203, 232);
}

.summaryGroupHeader {
    margin: 0;
    line-height: 31px;
    padding: 0 0 0 10px;
    color: #045FB4;
    font-weight: 500;
}

.summaryGroupSubHeader {
    color: #045FB4;
    font-weight: 300;
}

.summaryGroupDrag {
    cursor: move;
    opacity: 0;
    color: #999;
}

/* Drag affordance */
.summaryRow td:first-child {
    opacity: .9;
    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease;
}

/* Red notebook lines */
.summaryRow td:nth-child(1) {
    padding-right: 5px;
    border-right-color: rgb(255, 225, 235);
    border-right-style: double;
}

.summaryRowDragOver {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #2b669a;
}

.summaryGroupCell span:last-child {
    opacity: 0;
}

.summaryRow:hover .summaryGroupCell span:last-child {
    opacity: .9;
}

/**********************************************************/
/**** Bootstrap overrides ****/
/**********************************************************/

body {
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    background-color: rgb(235, 238, 243);
}

h3.panel-title {
    font-size: 18px;
    font-weight: 600;
}

.panel-default .panel-heading {
    background-color: white;
    border-bottom: 0px;
}

.table > tbody > tr:hover {
    cursor: pointer;
}

.table > thead > tr > th {
    color: rgb(168, 168, 168);
}

.table > tbody > tr > td {
    color: rgb(162, 162, 162);
}

.btn-info {
    background-color: #009688;
}

/**********************************************************/
/**** Bootstrap navbar overrides ****/
/**********************************************************/

nav ul {
    width: 80%;
}

.navbar-default {
    background-color: rgb(28, 135, 209);
}

.navbar-msg-count {
    background-color: rgb(217, 68, 57);
}

.navbar-header {
    /*background-color: rgb(0, 100, 184);*/
    background-color: rgb(48, 125, 195);
    height: 90px;
}

.navbar-default .navbar-brand {
    font-family: 'Pinyon Script', cursive;
    font-size: -webkit-xxx-large;
    color: white;
    letter-spacing: 0em;
    height: 90px;
    line-height: 60px;
}

/* Un-selected menu item */
.navbar-default .navbar-nav > li > a {
    font-size: 16pt;
    font-family: 'Open sans';
    height: 90px;
    line-height: 60px;
    color: #c0bfbf;
    letter-spacing: 0.05em;
    width: 150px;
    text-align: center;
}

/* Hover/Selected menu item */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    font-family: 'Open sans';
    letter-spacing: 0.05em;
    border-bottom-color: rgb(235, 238, 243);
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

.navbar-selected {
    color: white !important;
    font-family: 'Open sans';
    letter-spacing: 0.05em;
    border-bottom-color: rgb(235, 238, 243);
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

/**********************************************************/
/**** Bootstrap table overrides ****/
/**********************************************************/

.fixed-table-container {
    border: 0px;
}

.fixed-table-container thead th {
    border-left: 0px;
}

.fixed-table-container tbody td {
    border-left: 0px;
}

/**********************************************************/
/**** Contact panel ****/
/**********************************************************/
