/**** Alignment ****/

div {
    white-space: normal;
}

.inline {
    display: inline-block;
}

.tableCell {
    display: table-cell;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

/**** Width Dimensions ****/

.narrow {
    width: 100px;
    min-width: 100px;
}

.normal {
    width: 150px;
    min-width: 150px;
}

.wide {
    width: 200px;
    min-width: 200px;
}

.wider {
    width: 250px;
    min-width: 250px;
}

/**** Margins and borders ****/

.topMargin {
    margin-top: 2px;
}

.topMargin5 {
    margin-top: 5px;
}

.topMargin1pc {
    margin-top: 1%;
}

.topMargin5pc {
    margin-top: 5%;
}

.bottomMargin {
    margin-bottom: 2px;
}

.bottomMargin5 {
    margin-bottom: 5px;
}

.leftMargin {
    margin-left: 2px;
}

.leftMargin5 {
    margin-left: 5px;
}

.leftMargin1pc {
    margin-left: 1%;
}

.leftMargin2pc {
    margin-left: 2%;
}

.rightMargin {
    margin-right: 2px;
}

.rightMargin5 {
    margin-right: 5px;
}

.paddingRight5 {
    padding-right: 5px;
}

.topBorderSolid {
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #E2E4E7;
}

.topBorder {
    border-top: dotted;
    border-top-width: 1px;
    border-top-color: #2d6ca2;
}

.bottomBorderDashed {
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.bottomBorder {
    border-bottom: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #2d6ca2;
}

.clear {
    clear: both;
}

.overflowY {
    overflow-y: auto;
}

/**** Form elements ****/

.fileDropBox {
    width: 100%;
    min-height: 50px;
    border-color: lightslategrey;
    border-width: 1px;
    border-style: dotted;
    position: relative;
    font-size: small;
}

.fieldLabel {
    display: inline-block;
    text-align: right;
    padding-right: 2px;
}

.backgroundLabel {
    color: lightgray;
    font-size: small;
    position: absolute;
    bottom: 0%;
    right: 1%;
}

.strong {
    background-color: #F7F7F9;
    color: #222222;
    font-weight: 500;
}

#modal-button {display: none}
.pac-container {
    z-index: 1051 !important;
}
@media only screen and (max-device-width : 1024px) {
    #map-button {display: none}
    #modal-button {display: inline-block}
}

@media only screen and (min-device-width : 1025px) {
    #map-button {display: inline-block}
    #modal-button {display: none}
}

#map-canvas {
    width: 100%;
}

.modal.in .modal-dialog {
    width: 90%;
}

#map-modal {
    min-height: 640px;
}

.editable {
    border: 1px;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    border-color: darkgray;
}

/**** Navigation panels ****/

.headerLabel {
    position: relative;
    top: -8px;
    left: 5px;
}
.headerLogo {
    width: 32px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin-top: 12px;
    margin-left: 5px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}
.headerLogo:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}

.slidingContainer {
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
    margin-left: 3px;
}

/**** Search panel ****/

.table > tbody > tr:hover {
    cursor: pointer;
}

.toggleButton {
    color: rgb(190, 207, 224);
}

.toggleButton:HOVER {
    color: white;
}


/**** Dashboard panel ****/

.dashboardPanelCollapsedContent {
    background-color: #4C6887;
    padding: 0px;
}

/**** Task summary widget ****/

.summaryGroupSelector {
    background-color: whitesmoke;
}

.summaryGroupHeader {
    margin: 0;
    line-height: 31px;
    padding: 0 0 0 10px;
    color: #045FB4;
    font-weight: 500;
}

.summaryGroupSubHeader {
    color: #045FB4;
    font-weight: 300;
}

.summaryGroupDrag {
    cursor: move;
    opacity: 0;
    color: #999;
}

.summaryRow:hover td:first-child {
    opacity: .9;
    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.summaryRow td:nth-child(2) {
    padding-right: 5px;
    border-right-color: rgb(255, 225, 235);
    border-right-style: double;
}

.summaryRowDragOver {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #2b669a;
}

.summaryGroupCell span:last-child {
    opacity: 0;
}

.summaryRow:hover .summaryGroupCell span:last-child {
    opacity: .9;
}