/**** Alignment ****/

.inline {
    display: inline-block;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

/**** Dimensions ****/

.narrow {
    width: 100px;
}

.normal {
    width: 150px;
}

.wide {
    width: 200px;
}

/**** Margins and borders ****/

.topMargin5 {
    margin-top: 5px;
}

.topMargin10 {
    margin-top: 10px;
}

.bottomMargin10 {
    margin-bottom: 10px;
}

.leftMargin2 {
    margin-left: 2px;
}

.topBorder {
    border-top: dotted;
    border-top-width: 1px;
    border-top-color: #2d6ca2;
}

.clear {
    clear: both;
}

.sectionSeparator {
    height: 3px;
    background: #336CC2;
}

/**** Form elements ****/

.fieldLabel {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 2px;
    background-color: #F7F7F9;
    font-weight: 500;
}

/**** Navigation panels ****/

.slidingContainer {
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
    padding: 5px;
}

.panelItem {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px 15px 15px;
    border-bottom-color: #EAEAEA;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #EAEAEA;
}

.gridPanelClosed {
    background-color: #F5F5F8;
}

.header {
    width: 200;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 35;
    font-family: sans-serif;

    background-image: url("/images/007.jpg");
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: right center;
    background-size: 90;
}