/**********************************************/
/* Commons */
/**********************************************/

body {
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif, serif;
    font-size: 14px;
    -webkit-print-color-adjust: exact;
}

table {
    border-spacing: 0;
}

strong {
    font-weight: 600;
}

.text-right {
    text-align: right;
}

.pull-right {
    float: right !Important;
}

.pull-left {
    float: left !Important;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}

/**********************************************/
/* Template 1 */
/**********************************************/

.print1.invoice-body tr th {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
}

.print1.invoice-body tr td {
    border-bottom: 1px dotted #333;
    border-right: 1px dotted #333;
    padding-left: 5px;
    padding-top: 0;
}

.print1.invoice-body tr td:last-child {
    border-right: none;
}

.print1.invoice-body tr:last-child td {
    border-bottom: none;
}


/**********************************************/
/* Template 2 */
/**********************************************/

.print2.invoice-body tr th {
    background-color: #efefef;
    border-bottom: 2px solid #ddd;
    padding: 5px;
    text-align: left;
    font-size: 14px;
}

.print2.invoice-body tr td {
    font-size: 14px;;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-left: 5px;
    padding-top: 0;
    line-height: 1.5;
}

.print2.invoice-body tr td:last-child {
    border-right: none;
}

.print2.invoice-body tr:last-child td {
    border-bottom: none;
}

.print2.invoice-header-total {
    padding: 5px;
    font-size: 1.25em;
    font-weight: 600;
    background-color: lightgrey;
}

.print2.invoice-header-company {
    font-size: 1.3em;
}