<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-xs-6">
        <label class="col-lg-3 col-md-3 control-label">Type</label>
        <div class="col-lg-9 col-md-9">
            <row>
                <label class="col-lg-6 col-md-6 control-label">Mileage</label>

                <div class="input-group bottomMargin col-md-6 col-lg-6">
                    <input class="form-control input-sm" id="appendprepend" type="text"
                           data-bind="value: billingItem().mileage">
                    <span class="input-group-addon">Miles</span>
                </div>
            </row>
            <row>
                <label class="col-lg-6 col-md-6 control-label">Time</label>

                <div class="input-group bottomMargin col-lg-6 col-md-6">
                    <input class="form-control input-sm" id="appendprepend" type="text"
                           data-bind="value: billingItem().time">
                    <span class="input-group-addon">Hours</span>
                </div>
            </row>
            <row>
                <label class="col-lg-6 col-md-6 control-label">Expense</label>

                <div class="input-group col-lg-6 col-md-6">
                    <span class="input-group-addon">$</span>
                    <input class="form-control input-sm" id="appendprepend" type="text"
                           data-bind="value: billingItem().expenseAmount">
                </div>
            </row>
        </div>
    </div>

    <div class="form-group col-lg-3 col-md-3 col-xs-3">
        <label class="control-label col-md-3" for="appendprepend">Code</label>

        <div class="col-md-9">
            <!-- Select 2 component -->
            <select class="form-control input-sm" type="text"
                   data-bind="select2: {modelAttr: billingItem().code}">
                <option value="AL">Alabama</option>
                <option value="NY">New York</option>
                <option value="AK">XX</option>
                <option value="BC">Canada</option>
            </select>
        </div>
    </div>

    <div class="form-group col-lg-3 col-md-3 col-xs-3">
        <span data-bind="text: billingItem().status"></span>
    </div>
</div>
<!--At the moment we are allowing a single BillingItem per ClaimEntry-->
<!--
<a class="btn btn-info btn-sm" data-bind="click: initbillingItem()">
    <i class="fa fa-gear"></i> Add Billing Item
</a>
-->
