<div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 20px">
    <!-- File upload component -->
    <file-upload-component params="'claimEntry': claim,
                                    domElemId: 'file-input-1',
                                    onUpload: onSave.bind(vm),
                                    listFiles: false"></file-upload-component>
</div>

<!-- **** List files **** -->
<div class="col-lg-12 col-md-12 col-sm-12">
    <table id="claimDocsTable"
           data-sortable
           data-bind="sortable"
           class="table table-hover">

        <!-- Header -->
        <thead>
        <tr>
            <th data-field="name" data-sortable="true" colspan="2">File name</th>
            <th data-sortable="true" data-sortable-type="numeric">Size</th>
            <th data-field="type" data-sortable="true" class="hidden-xs">Type</th>
            <th data-field="lastModifiedDate" data-sortable="true" class="hidden-xs">Last modified</th>
            <th data-field="createdBy" data-sortable="true" class="hidden-xs hidden-sm">Created by</th>
            <th data-field="id" data-sortable="true" class="hidden-sm hidden-xs hidden-md hidden-lg">Id</th>
        </tr>
        </thead>

        <!-- Body -->
        <tbody data-bind="foreach: { data: claim().attachments, as: 'attachment' }">
        <tr style="cursor: default">
            <td data-bind="text: attachment.name"></td>
            <td>
                <a data-bind="attr: {href: '/download?id=' + attachment.id()}"
                   class="color-light-blue myTooltip" myTitle="Download file">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
            <td data-bind="attr: {'data-value': attachment.size()}">
                <span data-bind="text: Math.round(attachment.size()/1024, 2) + ' K'"></span>
            </td>
            <td class="hidden-xs">
                <div data-bind="text: attachment.type"></div>
            </td>
            <td class="hidden-xs">
                <div data-bind="text: $parent.DateUtils.niceDate(attachment.lastModifiedDate ? attachment.lastModifiedDate() : '-')"></div>
            </td>
            <td class="hidden-xs hidden-sm">
                <div class="tableCell" data-bind="text: attachment.createdBy"></div>
            </td>
            <td class="hidden-sm hidden-xs hidden-md hidden-lg">
                <div class="tableCell" data-bind="text: attachment.id"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
