<!-- *** Claim Panel -->
<div class="panel panel-default" data-bind="if: readyToRender">

    <div class="panel-heading">
        <h3>
            <span>Claim</span>
            <span id="claim-id"
                  class="color-grey"
                  data-bind="text: (claim().fileNum() || '') + ' / ' + (claim().insuranceCompanyFileNum() || '')"></span>
            <span data-bind="ifnot: isPartiallyCollapsed">
                <span class="color-grey" style="font-size: .8em"
                      data-bind="text: (claim().insuranceCompanyName() || '')"></span>
            </span>
        </h3>
    </div>

    <div data-bind="css: { 'panel-body' : !isPartiallyCollapsed() && !inEditMode()}">
        <!-- ************************************************ -->
        <!-- Claim top level info -->
        <!-- ************************************************ -->

        <div data-bind="ifnot: inEditMode">
            <div data-bind="ifnot: isPartiallyCollapsed">

                <!-- Insured -->
                <div class="row bottomMargin5">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <strong>Insured</strong>
                    </div>
                </div>
                <div class="row">
                    <div data-bind="foreach: {data: claim().contacts(), as: 'contactInfo'}">
                        <div data-bind="if: contactInfo.category() == 'Insured'">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="row bottomMargin5">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                        <span data-bind="text: contactInfo.subCategory"></span>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-4">
                                        <a href=""
                                           data-bind="click: function(){$parent.onShowContact(contactInfo.contact)}">
                                            <span data-bind="text: $parent.niceName(contactInfo.contact)"></span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-4">
                                        <span data-bind="text: contactInfo.contact.phone"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomMargin5 topMargin5 bottomBorderDashed"></div>

                <!-- Loss location/type/dateOfLoss -->
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <strong>Location</strong>
                        <span class="leftMargin5"
                              data-bind="text: claim().location() ? claim().location().formatted_address : 'None'"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <strong>Loss type</strong>
                        <span class="leftMargin5"
                              data-bind="text: claim().lossType()"></span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <strong>Date of loss</strong>
                        <span class="leftMargin5"
                              data-bind="text: DateUtils.niceDate(claim().dateOfLoss ? claim().dateOfLoss() : '')"></span>
                    </div>
                </div>
                <div class="bottomMargin5 topMargin5 bottomBorderDashed"></div>

                <!-- Notes -->
                <!-- ko if: Session.getCurrentUserProfile().isClaimNoteEnabled -->
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 noPadding">
                            <strong>Notes</strong>
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 noPadding">
                            <span data-bind="text: claim().description"></span>
                        </div>
                    </div>
                </div>
                <div class="bottomMargin5 topMargin5 bottomBorderDashed"></div>
                <!-- /ko -->

                <!-- Dates -->
                <!-- ko if: Session.getCurrentUserProfile().isClaimDtEnabled -->
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <strong>Received</strong>
                        <span class="leftMargin5"
                              data-bind="text: DateUtils.niceDate(claim().dateReceived ? claim().dateReceived() : '')"></span>
                    </div>
                    <span class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <strong>Due</strong>
                        <span class="leftMargin5"
                              data-bind="text: DateUtils.niceDate(claim().dateReceived ? claim().dateDue() : '')"></span>
                </div>
                <div class="bottomMargin5 topMargin5 bottomBorderDashed"></div>
                <!-- /ko -->

                <!-- Insurance co -->
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <strong>Insurance co.</strong>
                        <span class="inline leftMargin5"
                              data-bind="text: claim().insuranceCompanyName ? claim().insuranceCompanyName() : ''"></span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <strong>File #</strong>
                        <span class="inline leftMargin5"
                              data-bind="text: claim().insuranceCompanyFileNum ? claim().insuranceCompanyFileNum() : ''"></span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <strong>Policy #</strong>
                        <span class="inline leftMargin5"
                              data-bind="text: claim().insuranceCompanyFileNum ? claim().insuranceCompanyPolicyNum() : ''"></span>
                    </div>
                </div>

                <!-- Issued/Expires -->
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <strong>Issued</strong>
                        <span class="inline leftMargin5"
                              data-bind="text: DateUtils.niceDate(claim().validFromDate ? claim().validFromDate() : '')"></span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <strong>Expires</strong>
                        <span class="inline leftMargin5"
                              data-bind="text: DateUtils.niceDate(claim().validToDate ? claim().validToDate() : '')"></span>
                    </div>
                </div>
                <div class="bottomMargin5 topMargin5 bottomBorderDashed"></div>

                <!-- Policy coverages -->
                <!-- ko if: Session.getCurrentUserProfile().isClaimCoverageEnabled -->
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <strong>Policy coverages</strong>
                    </div>
                </div>
                <div class="row">
                    <div data-bind="foreach: {data: claim().expenses(), as: 'expense'}">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="row bottomMargin5">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                                    <span data-bind="text: expense.subCategory"></span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                                    <span data-bind="text: '$'+ $parent.NumberUtils.nice(expense.amount())"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomMargin5 topMargin5 bottomBorderDashed"></div>
                <!-- /ko -->

                <!-- Claimant -->
                <!-- ko if: Session.getCurrentUserProfile().isClaimDtEnabled -->
                <div class="row bottomMargin5">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <strong>Claimant</strong>
                    </div>
                </div>
                <div class="row">
                    <div data-bind="foreach: {data: claim().contacts(), as: 'contactInfo'}">
                        <div data-bind="if: contactInfo.category() == 'Claimant'">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="row bottomMargin5">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                        <span data-bind="text: contactInfo.subCategory"></span>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-4">
                                        <a href=""
                                           data-bind="click: function(){$parent.onShowContact(contactInfo.contact)}">
                                            <span data-bind="text: $parent.niceName(contactInfo.contact)"></span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-4">
                                        <span data-bind="text: contactInfo.contact.phone"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomMargin5 topMargin5 bottomBorderDashed"></div>
                <!-- /ko -->

                <!-- Other contacts -->
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <strong>Contacts</strong>
                    </div>
                </div>
                <div class="row">
                    <div data-bind="foreach: {data: claim().contacts(), as: 'contactInfo'}">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div data-bind="if: contactInfo.category() == 'Other'">
                                <div class="row bottomMargin5">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                        <span data-bind="text: contactInfo.subCategory"></span>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-4">
                                        <a href=""
                                           data-bind="click: function(){$parent.onShowContact(contactInfo.contact)}">
                                            <span data-bind="text: $parent.niceName(contactInfo.contact)"></span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-4">
                                        <span data-bind="text: contactInfo.contact.phone"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    </div>
                </div>
                <div class="bottomMargin5 topMargin5 bottomBorderDashed"></div>

            </div>
        </div>
    </div>

    <!-- *** Editor *** -->
    <div data-bind="template: {name: editorViewHtml}"></div>

    <!-- ************************************************ -->
    <!-- Buttons -->
    <!-- ************************************************ -->

    <div data-bind="ifnot: inEditMode" class="row">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!-- ko if: isClaimClosed -->
                <div class="row">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">
                        <div class="alert alert-info" role="alert"
                             data-bind="html: '<i class=\'fa fa-lock fa-2x\'></i><b>  Claim closed on ' + DateUtils.niceDate(claim().dateClosed()) + '</b>. Please re-open the Claim if you wish to make further changes.'">
                        </div>
                    </div>
                </div>
                <!-- /ko -->

                <!-- **** Left side tabs ***** -->
                <div class="pull-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a aria-controls="claimDocs" href="#claimDocs" role="tab" data-toggle="tab"
                               class="squareCorners" id="claimDocsTabLink">Docs</a>
                        </li>
                        <li role="presentation">
                            <a aria-controls="claimTasks" href="#claimTasks" role="tab" data-toggle="tab"
                               class="squareCorners">Tasks</a>
                        </li>
                        <li role="presentation">
                            <a aria-controls="claimForms" href="#claimForms" role="tab" data-toggle="tab"
                               class="squareCorners">Insurance forms</a>
                        </li>
                    </ul>
                </div>

                <!-- **** Right side buttons ***** -->
                <div class="pull-right" style="position: relative; top: -44px;">

                    <!-- Edit claim button -->
                    <div data-bind="ifnot: inEditMode && isPartiallyCollapsed" class="inline">
                        <!-- ko ifnot: isClaimClosed -->
                        <div class="btn btn-default inline btn-info"
                             data-bind="click: onEditModeClick.bind($data)">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </div>
                        <!-- /ko -->
                    </div>

                    <!-- Billing Button -->
                    <!-- ko if:isBillingEnabled -->
                    <div data-bind="ifnot: inEditMode && isPartiallyCollapsed" class="inline">
                        <div class="btn-group inline">
                            <button type="button"
                                    id="claim-billing-btn"
                                    class="btn btn-default dropdown-toggle btn-info"
                                    data-toggle="dropdown">
                                <span class="fa fa-fw fa-credit-card"></span>
                                Billing <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <!-- ko ifnot: isClaimClosed -->
                                <li>
                                    <a data-bind="attr: {href: '#/claim/' + claim()._id() + '/newbill'}">
                                        <span class="fa fa-plus"></span>
                                        <span class="leftMargin5">New</span>
                                    </a>
                                </li>
                                <!-- /ko -->
                                <li>
                                    <a data-bind="attr: {href: '#/billing/history/' + claim()._id()}">
                                        <span class="fa fa-history"></span>
                                        <span class="leftMargin5">History</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-bind="click: onBillingProfileClick">
                                        <span class="fa fa-cogs"></span>
                                        <span class="leftMargin5">Rates</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /ko -->

                    <!-- `Close claim` button -->
                    <div data-bind="ifnot: inEditMode && isPartiallyCollapsed" class="inline hidden-xs myTooltip"
                         mytitle="File may be closed once all work on this Claim is finished"
                         myTitleWidth="180px">
                        <!-- ko ifnot: isClaimClosed -->
                        <!-- ko if: Session.getCurrentUserProfile().isClaimCloseEnabled -->
                        <div class="btn btn-default inline btn-info"
                             data-bind="click: onCloseClaimClick.bind($data)">
                            <i class="fa fa-check-square-o"></i>
                            Close file
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: isClaimClosed -->
                        <div class="btn btn-default inline btn-info"
                             data-bind="click: onReOpenClaimClick.bind($data)">
                            <i class="fa fa-share-square-o"></i>
                            Re-open
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <div class="clear"></div>

                <!-- **** Docs/Tasks/Forms **** -->
                <div data-bind="ifnot: inEditMode" class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="top: -20px;">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="claimDocs">
                                <div data-bind="template: {name: docsViewHtml,
                                                           afterRender: afterTabRender}"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="claimTasks">
                                <div data-bind="template: {name: entriesViewHtml,
                                                           afterRender: afterTabRender}"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="claimForms">
                                <div data-bind="template: {name: formsViewHtml,
                                                           afterRender: afterTabRender}"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- *** Claim Panel - end -->
    </div>

    <!-- *** Modal with the email instructions *** -->
    <div class="modal modal-lg fade centered" role="dialog" tabindex="-1" id="emailTaskTypeModal"
         data-bind="if: readyToRender">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create Tasks from Emails</h4>
                </div>

                <!-- Body -->
                <div class="modal-body">

                    <div>
                        <div class="row bottomMargin5">
                            <div class="col-md-10">
                                Tasks can be created automatically from emails sent to <i>MyClaimsHelper</i>.<br/>
                                You can also forward emails you receive from your associates.
                            </div>
                        </div>
                        <div class="row topMargin5">
                            <div class="col-md-10">
                                <span class="stepBulletPoint">1</span>
                                Forward or send email to
                                <a data-bind="attr: {href: 'mailto:' + Session.getCurrentUserId() + '@myclaimshelper.com?subject=' + (claim().fileNum() || claim().insuranceCompanyFileNum() || '04-92998')}"
                                   target="_blank">
                                    <span data-bind="text: Session.getCurrentUserId() + '@myclaimshelper.com'"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="stepBulletPoint">2</span>
                                <span>
                                Mention Claim file/insurance company file number in the Subject line. Example:
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10 topMargin5">
                                <i><span class="text-info"
                                         data-bind="text: 'Claim file# ' + (claim().fileNum() || claim().insuranceCompanyFileNum() || '04-92998')"></span></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <span class="stepBulletPoint">3</span>
                                You will get a notification in a few seconds!
                                <img class="topMargin5 boxShadow" src="/img/EmailNotification.png"/><br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <span class="stepBulletPoint" style="visibility: hidden"></span>
                                The email will appear as a Task under the relevant claim
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.modal -->

