<!-- ************************************************ -->
<!-- Claim entry form -->
<!-- ************************************************ -->

<div class="fadeIn col-md-11 col-sm-11 col-xs-12"
     data-bind="if: inEditMode,
                css: { 'panel-body' : inEditMode()}">


    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">File num.</label>

            <div class="col-sm-3">
                <input type="text" class="form-control input-sm"
                       data-bind="value: claim().fileNum">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>

            <div class="col-sm-6">
                <textarea style="display: table-cell;"
                          class="form-control" rows="4" id="claimEntry-textArea"
                          data-bind="value: claim().description"
                          placeholder="Note"></textarea>
            </div>
        </div>

        <!-- **** Insurance Co **** -->
        <form class="form-inline">
            <div class="form-group">
                <label class="col-sm-2 control-label">Insurance Co.</label>

                <div class="col-sm-3">
                    <input type="text" class="form-control input-sm"
                           data-bind="value: claim().insuranceCompanyName"
                           placeholder="Name"
                           autocomplete="on">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control input-sm"
                           data-bind="value: claim().insuranceCompanyFileNum"
                           placeholder="Claim number"
                           autocomplete="on">
                </div>
            </div>
        </form>

        <!-- **** Important Dates **** -->
        <form class="form-horizontal">
            <form class="form-inline">
                <div class=""><h5 class="color-dark-grey"></h5></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Date Received</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm"
                               data-bind="datetimePicker: {
                                              datepicker: true,
                                                timepicker: true,
                                              dateValue: claim().dateReceived}"/>
                    </div>

                    <label class="col-sm-1 control-label">Date Due</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="dateDueInput"
                               data-bind="datetimePicker: {
                                              datepicker: true,
                                              timepicker: true,
                                              dateValue: claim().dateDue}"/>
                    </div>

                    <label class="col-sm-1 control-label">Date of Loss</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" id="dateOfLossInput"
                               data-bind="datetimePicker: {
                                              datepicker: true,
                                              timepicker: true,
                                              dateValue: claim().dateOfLoss}"/>
                    </div>
                </div>
            </form>
        </form>

        <!-- **** Insured **** -->
        <form class="form-horizontal">
            <form class="form-inline">
                <div class=""><h5 class="color-dark-grey"></h5></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Insured</label>

                    <div class="col-sm-4" style="display: table-cell">
                        <contact-component params="contact : claim().insuredContact,
                                                   idSuffix: 'claim-insuredContact',
                                                   isBusinessOptionApplicable: false"></contact-component>
                    </div>
                    <div class="col-sm-4">
                        <div class="bottomMargin5">
                            <a href=""
                               data-bind="click: onToggleAtty.bind(this, '#insuredAttorneyContact')"
                               class="bottomMargin5"><strong>+</strong> Insured attorney</a>
                        </div>
                        <div id="insuredAttorneyContact"
                             data-bind="style: { display: Number(claim().insuredAttorneyContactId()) > 0 ? '' : 'none'}">
                            <contact-component params="contact : claim().insuredAttorneyContact,
                                                   idSuffix: 'claim-insuredAttny',
                                                   isBusinessOptionApplicable: true"></contact-component>
                        </div>
                    </div>
                </div>
            </form>
        </form>

        <!-- **** Claimant **** -->
        <form class="form-horizontal">
            <form class="form-inline">
                <div class=""><h5 class="color-dark-grey"></h5></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Claimant</label>

                    <div class="col-sm-4" style="display: table-cell">
                        <contact-component params="contact : claim().claimantContact,
                                                   idSuffix: 'claim-claimantContact',
                                                   isBusinessOptionApplicable: false"></contact-component>
                    </div>
                    <div class="col-sm-4">
                        <div class="bottomMargin5">
                            <a href=""
                               data-bind="click: onToggleAtty.bind(this, '#claimantAttorneyContact')"
                               class="bottomMargin5"><strong>+</strong> Claimant attorney</a>
                        </div>
                        <div id="claimantAttorneyContact"
                             data-bind="style: { display: Number(claim().claimantsAttorneyContactId()) > 0 ? '' : 'none'}">
                            <contact-component params="contact : claim().claimantsAttorneyContact,
                                                       idSuffix: 'claim-claimantAttny',
                                                       isBusinessOptionApplicable: true"></contact-component>
                        </div>
                    </div>
                </div>
            </form>
        </form>
    </form>

    <div class="topMargin"/>

    <!-- **** Save/cancel buttons **** -->
    <div class="topMargin5 clear">
        <div class="col-md-offset-9 col-sm-offset-9 col-xs-offset-11">
            <button type="button" class="btn btn-info" data-bind="click: onSave">Save</button>
            <button type="button" class="btn btn-default" data-bind="click: onCancel">Cancel</button>
        </div>
    </div>

</div>
