<ul id="myTab1" class="nav nav-tabs bordered">
    <li class="active">
        <a href="#s1" data-toggle="tab">
            Claim
            <span class="badge bg-color-blue txt-color-white"
                  data-bind="text: (claim().insuranceCompanyFileNum() || '')"></span>
        </a>
    </li>
    <li>
        <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-gear"></i>Billing</a>
    </li>
</ul>


<!--
    <ul id="myTab1" class="nav nav-tabs bordered">
        <li class="active">
            <a href="#s1" data-toggle="tab">Claim<span class="badge bg-color-blue txt-color-white">12</span></a>
        </li>
        <li>
            <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-gear"></i>Billing</a>
        </li>
    </ul>

    <div id="myTabContent1" class="tab-content padding-10">
        <div class="tab-pane fade in active" id="s1">
            <div id="claimPanelContent" class="claimPanelContent">
                <div data-bind="component: 'claim-component'"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="s2">
            <div id="billPanelContent">
                <h1>Bill</h1>
            </div>
        </div>
    </div>
-->



<!-- *** Claim Panel -->
<div class="panel panel-default">

    <div class="panel-body">
        <!-- ************************************************ -->
        <!-- Claim top level info -->
        <!-- ************************************************ -->

        <div data-bind="ifnot: inEditMode" class="container-fluid">

            <!-- Insured/claimant/Description -->
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <strong>Insured</strong>

                    <div data-bind="text: niceName(claim().insuredContact)"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <strong>Claimant</strong>

                    <div data-bind="text: niceName(claim().claimantContact)"></div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <strong>Description</strong>

                    <div data-bind="text: claim().description"></div>
                </div>
            </div>

            <div class="margin-bottom-10 bottomBorderDashed"></div>

            <!-- Dates -->
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <strong>Received</strong>

                    <div data-bind="text: DateUtils.niceDate(claim().dateReceived ? claim().dateReceived() : '')"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4  col-xs-4">
                    <strong>Due</strong>

                    <div data-bind="text: DateUtils.niceDate(claim().dateReceived ? claim().dateDue() : '')"></div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <strong>Date of loss</strong>

                    <div data-bind="text: DateUtils.niceDate(claim().dateReceived ? claim().dateOfLoss() : '')"></div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                    <strong>Insurance co.</strong>

                    <div data-bind="text: claim().insuranceCompanyName ? claim().insuranceCompanyName() : ''"></div>
                </div>
            </div>

            <div class="margin-bottom-10 bottomBorderDashed"></div>

            <!-- Contacts -->
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <strong>Contacts</strong>
                </div>
                <div class="col-lg-2 col-md-2 col-lg-offset-2 col-md-offset-2 col-sm-4 col-xs-4 col-sm-offset-4 col-xs-offset-4">
                    <div data-bind="text: 'Show all (' + Number(claim().otherContacts().length) + 2 + ')'" class="font-sm"></div>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <span>Insured Attorney</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <a data-bind="click: onShowContact" class="cursor-pointer">
                        <span data-bind="text: niceName(claim().insuredAttorneyContact)"></span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <span data-bind="text: '616 112 9889'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <span>Claimant Attorney</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <a data-bind="click: onShowContact">
                        <span data-bind="text: niceName(claim().claimantsAttorneyContact)"></span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <span data-bind="text: '616 112 9889'"></span>
                </div>
            </div>

            <!-- Other contacts -->
            <div data-bind="foreach: claim().otherContacts()">
                <div class="row bottomBorder">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        &nbsp;
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <a><!--data-bind="click: $parent.onShowContact($data._id)">-->
                            <!--<span data-bind="text: $parent.niceName($data)"></span>-->
                            Foo
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <span data-bind="text: '616 112 9889'"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-bottom-10 bottomBorderDashed"></div>
    </div>


    <!-- ************************************************ -->
    <!-- Claim entry form -->
    <!-- ************************************************ -->

    <div data-bind="if: inEditMode">
        <div><h5>Insurance Company</h5></div>

        <div class="inline bottomMargin">
            <div class="inline">
                <div class="inline narrow fieldLabel">Name</div>
                <div class="inline wider">
                    <input type="text" class="form-control input-sm"
                           data-bind="value: claim().insuranceCompanyName"
                           autocomplete="on">
                </div>
                <div class="inline narrow fieldLabel">File num.</div>
                <div class="inline narrow">
                    <input type="text" class="form-control input-sm"
                           data-bind="value: claim().insuranceCompanyFileNum">
                </div>
            </div>
        </div>

        <div class="bottomMargin">
            <div class="inline">
                <div class="inline narrow fieldLabel">Date Received</div>
                <div class="inline normal">
                    <input type="text" class="form-control input-sm"
                           data-bind="datetimePicker: {
                                              datepicker: true,
                                              timepicker: true,
                                              dateValue: claim().dateReceived}"/>
                </div>
            </div>
            <div class="inline">
                <div class="inline narrow fieldLabel">Date Due</div>
                <div class="inline normal">
                    <input type="text" class="form-control input-sm"
                           data-bind="datetimePicker: {
                                              datepicker: true,
                                              timepicker: true,
                                              dateValue: claim().dateDue}"/>
                </div>
            </div>
            <div class="inline">
                <div class="inline narrow fieldLabel">Date of Loss</div>
                <div class="inline normal">
                    <input type="text" class="form-control input-sm"
                           data-bind="datetimePicker: {
                                              datepicker: true,
                                              timepicker: true,
                                              dateValue: claim().dateOfLoss}"/>
                </div>
            </div>
        </div>

        <!-- **** Insured **** -->
        <div class="topBorderSolid"><h5>Insured</h5></div>

        <div class="bottomMargin">
            <div class="narrow fieldLabel tableCell" style="display: table-cell">Attorney</div>
            <div style="display: table-cell">
                <contact-component params="contact : claim().insuredAttorneyContact,
                                                   idSuffix: 'claim-insuredAttny',
                                                    isBusinessOptionApplicable: true"></contact-component>
            </div>
        </div>

        <div class="bottomMargin">
            <div class="narrow fieldLabel tableCell" style="display: table-cell">Contact</div>
            <div style="display: table-cell">
                <contact-component params="contact : claim().insuredContact,
                                                   idSuffix: 'claim-insuredContact',
                                                   isBusinessOptionApplicable: false"></contact-component>
            </div>
        </div>

        <!-- **** Claimant **** -->
        <div class="topBorderSolid"><h5>Claimant</h5></div>

        <div class="bottomMargin">
            <div class="narrow fieldLabel" style="display: table-cell">Attorney</div>
            <div style="display: table-cell">
                <contact-component params="contact : claim().claimantsAttorneyContact,
                                                   idSuffix: 'claim-claimantAttny',
                                                   isBusinessOptionApplicable: true"></contact-component>
            </div>
        </div>

        <div class="bottomMargin">
            <div class="narrow fieldLabel" style="display: table-cell">Contact</div>
            <div style="display: table-cell">
                <contact-component params="contact : claim().claimantContact,
                                                   idSuffix: 'claim-claimantContact',
                                                   isBusinessOptionApplicable: false"></contact-component>
            </div>
        </div>

        <div class="topBorderSolid bottomMargin"></div>

        <div class="topMargin5">
            <div class="narrow fieldLabel" style="display: table-cell">
                Description
            </div>
            <div class="inline" style="display: table-cell; width: 95%; padding-left: 3px">
                <textarea class="form-control" rows="3" id="claimEntry-textArea"
                          data-bind="value: claim().description" placeholder="Note"></textarea>
            </div>
        </div>
        <div class="topMargin"/>

        <!-- Save/cancel buttons -->
        <div class="topMargin5 clear">
            <div class="inline alignRight topMargin5">
                <button type="button" class="btn btn-default" data-bind="click: onSave">Save</button>
                <button type="button" class="btn btn-default" data-bind="click: onCancel">Cancel</button>
            </div>
        </div>
    </div>

    <!-- ************************************************ -->
    <!-- New entry button group -->
    <!-- ************************************************ -->

    <div data-bind="ifnot: inEditMode" class="topMargin1pc">
        <div class="btn-group inline">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-plus"></span>
                Add New Entry <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#/claimEntry/new/phone">
                        <span class="glyphicon glyphicon-earphone"></span>
                        <span class="leftMargin5">Phone</span>
                    </a>
                </li>
                <li>
                    <a href="#/claimEntry/new/visit">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span class="leftMargin5">Site visit</span>
                    </a>
                </li>
                <li>
                    <a href="#/claimEntry/new/photos">
                        <span class="glyphicon glyphicon-camera"></span>
                        <span class="leftMargin5">Photos</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#/claimEntry/new/other">
                        <span class="leftMargin5">Other</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Edit claim button -->
        <div class="btn btn-default inline" data-bind="click: onEditModeClick.bind($data)">
            <i class="fa fa-pencil"></i>
            Edit claim
        </div>

        <!-- Add contact Button -->
        <div class="inline">
            <add-contact-component></add-contact-component>
        </div>
    </div>

    <!-- ************************************************ -->
    <!--List Claim Entries -->
    <!-- ************************************************ -->

    <div data-bind="ifnot: inEditMode,
                    style: {height: (screenHeight() * .5)+ 'px'}"
         class="rightMargin topMargin5 overflowY">

        <table style="width: 98%" class="table table-hover table-responsive" id="claimEntriesList">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Tasks</th>
                <th>
                    <a href="#" data-bind="click: onSortEntries.bind($data)">
                        Entered on
                                <span data-bind="css: {'glyphicon-sort-by-attributes': sortDir() == 'asc',
                                                       'glyphicon-sort-by-attributes-alt': sortDir() == 'desc'}"
                                      class="glyphicon"></span>
                    </a>
                </th>
                <th>Status</th>
            </tr>
            </thead>

            <!-- Claim entry row -->
            <tbody data-bind="foreach: {data: claimEntries, as: 'entry' }">
            <tr data-bind="click: $parent.onClaimEntryClick.bind($parent)">
                <td style="min-width: 15px">
                    <!-- Tag -->
                            <span class="glyphicon leftMargin"
                                  data-bind="css: {'glyphicon-earphone'   : entry.tag.toString().search('phone') >= 0,
                                                   'glyphicon-map-marker' : entry.tag.toString().search('visit') >= 0,
                                                   'glyphicon-camera'     : entry.tag.toString().search('photos') >= 0,
                                                   'glyphicon-envelope'   : entry.tag.toString().search('email') >= 0}"></span>
                </td>
                <td style="min-width: 20%;">
                    <a data-bind="attr: {href: '#/claimEntry/' + entry._id}">
                        <span data-bind="text: entry.summary"></span>
                    </a>
                </td>
                <td class="rightMargin">
                    <span data-bind="text: $parent.DateUtils.niceDate(entry.entryDate)"></span>
                </td>
                <td>
                    <!-- Current state -->
                    <a href="#" data-bind="event: { mouseover: $parent.onStatusFocus.bind($parent)}">
                                <span class="glyphicon"
                                      data-bind="css: {'glyphicon-unchecked': entry.state == undefined || entry.state == $parent.States.None,
                                                       'glyphicon-inbox'    : entry.state == $parent.States.TODO,
                                                       'glyphicon-time'     : entry.state == $parent.States.Pending,
                                                       'glyphicon-ok'       : entry.state == $parent.States.Complete}"></span>
                    </a>

                    <!-- Pick new State -->
                    <div style="z-index: 9999; width: 135px; position: fixed" class="list-group"
                         data-bind="visible: $parent.showStatusForEntryId() == entry._id">
                        <a data-bind="click: $parent.onEntryStatusUpdate.bind($parent, $parent.States.TODO)"
                           class="list-group-item" href="#">
                            <span class="glyphicon glyphicon-inbox"></span>
                            <span class="leftMargin">To Do</span>
                        </a>
                        <a data-bind="click: $parent.onEntryStatusUpdate.bind($parent, $parent.States.Complete)"
                           href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="leftMargin">Complete</span>
                        </a>
                        <a data-bind="click: $parent.onEntryStatusUpdate.bind($parent, $parent.States.Pending)"
                           href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-time"></span>
                            <span class="leftMargin">Pending</span>
                        </a>
                        <a data-bind="click: $parent.onEntryStatusUpdate.bind($parent, $parent.States.None)"
                           href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-unchecked"></span>
                            <span class="leftMargin">Clear</span>
                        </a>
                    </div>
                </td>
                <td class=" rightMargin">
                    <div class="fa fa-angle-right"></div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>
</div>
</div>