<div class="panel panel-default">
    <div class="panel-heading">

        <form class="form-inline" role="form">
            <div class="form-group">
                <!-- Dimension selection -->
                <span><strong>Arrange by</strong></span>
                <select class="form-control input-sm summaryDimensionFilter"
                        data-bind="value: summaryDimension,
                                   options: summaryDimensions,
                                   optionsText: 'description'"></select>
            </div>
            <!-- Due date dimension filter -->
            <div class="form-group leftMargin2pc">
                <strong>Show tasks</strong>
            </div>
            <div class="form-group">
                <span>due</span>
                <select class="form-control input-sm summaryDimensionFilter"
                        data-bind="value: dueDateFilter,
                                   options: dueDateFilters,
                                   optionsText: 'description'"></select>
            </div>
            <div class="form-group" data-bind="if: showDueDateDaysFilter">
                <!-- Due date - day dimension filter -->
                <input class="form-control input-sm summaryDimensionFilter" style="width: 70px" type="number" min="0"
                       data-bind="value: dueDateDaysFilterValue">
                <span>days.</span>
            </div>
            <!-- Status filter -->
            <div class="form-group">
                <span class="rightMargin5"> with status</span>
                <select class="form-control input-sm summaryDimensionFilter"
                        data-bind="value: statusFilter,
                                   options: statusFilters,
                                   optionsText: 'description'"></select>
            </div>

        </form>
    </div>

    <div class="panel-body">

        <div class="panel panel-default">
            <table class="table table-hover table-condensed summaryTable">
                <thead>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Claim</th>
                <th>Summary</th>
                <th>Entry Date</th>
                <th>Due Date</th>
                <th>State</th>
                </thead>

                <tbody data-bind="foreach : {data: dimensionKeys, as: 'groupKey'}">
                <tr>
                    <td colspan="7">
                        <span class="fa fa-angle-double-right"></span>
                            <span class="summaryDimensionGroupHeader"
                                  data-bind="text: $parent.summaryDimension().description"></span>
                        <span class="paddingRight5"></span>
                            <span class="summaryDimensionGroupSubHeader"
                                  data-bind="text: groupKey"></span>
                            <span class="summaryDimensionGroupSubHeader"
                                  data-bind="text: '(' + ($parent.claimEntriesByDimension()[groupKey].length) + ')'"></span>
                    </td>
                </tr>

                <!-- ko foreach: $parent.claimEntriesByDimension()[groupKey] -->
                <tr draggable="true" class="summaryDimensionRow"
                    data-bind="event: {dragend  : $parents[1].onSummaryRowDragEnd.bind($parents[1]),
                                               dragenter: $parents[1].onSummaryRowDragEnter.bind($parents[1]),
                                               dragover:  $parents[1].onSummaryRowDragOver.bind($parents[1]),
                                               dragleave: $parents[1].onSummaryRowDragLeave.bind($parents[1])},
                                       attr: {'data-entryId': $data._id},
                                       click: $parents[1].onClaimEntrySelect">
                    <td class="summaryDimensionDrag" title="Click and Drag to reorder">
                        <span class="fa fa-ellipsis-v"></span>
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <span data-bind="text: $data.claimId"><span
                    </td>
                    <td data-bind="text: $data.summary"></td>
                    <td class="summaryDimensionCell">
                        <span data-bind="text: $parents[1].DateUtils.niceDate($data.entryDate())"></span>
                        <span class="fa fa-pencil"></span>
                    </td>
                    <td class="summaryDimensionCell">
                        <span data-bind="text: $parents[1].DateUtils.niceDate($data.dueDate ? $data.dueDate() : '')"></span>
                        <span class="fa fa-pencil"></span>
                    </td>
                    <td class="summaryDimensionCell">
                        <status-editor-component params="'statusValue': $data.state,
                                                         'entryId': $data._id"></status-editor-component>
                    </td>
<!--
                    <td data-bind="text: $data.state"></td>
-->
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>

    </div>
    <!-- End panel bosy -->
</div>