<div class="panel panel-default">

    <div class="panel-heading">
        <a href="javascript:void(0);" class="btn-xs btn-labeled btn-link"
           data-bind="click: routeToBillingOverview">
            <span class="btn-label">
                <i class="glyphicon glyphicon-chevron-left"></i></span>Billing Overview
        </a>
    </div>

    <div class="panel-body">
        <div class="row" id="bililngCreateMsg">
            <div class="col-sm-12">
                <div class="well well-sm bg-color-greenLighter txt-color-green text-center">
                    Some help text here?
                </div>
            </div>
        </div>

        <div class="pull-left">
            <img src="img/logo-blacknwhite.png" width="150" height="32" alt="invoice icon">

            <address>
                <br>
                <strong>SmartAdmin, Inc.</strong>
                <br>
                231 Ajax Rd,
                <br>
                Detroit MI - 48212, USA
                <br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
        </div>

        <div class="pull-right">
            <h1 class="font-400">Invoice</h1>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-8">
                <h4 class="semi-bold">Rogers, Inc.</h4>
                <address>
                    <strong>Mr. Simon Hedger</strong>
                    <br>
                    342 Mirlington Road,
                    <br>
                    Calfornia, CA 431464
                    <br>
                    <abbr title="Phone">P:</abbr> (467) 143-4317
                </address>
            </div>
            <div class="col-sm-4">
                <div>
                    <div>
                        <strong>Invoice Num :</strong>
                        <span class="pull-right" data-bind="text: bill()._id"></span>
                    </div>

                </div>
                <div>
                    <div class="font-md">
                        <strong>Invoice Date :</strong>
                        <span class="pull-right"
                              data-bind="text: bill().billingDate() != null ? bill().billingDate().toDateString() : 'Not submitted'">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>

                </div>
                <br>

                <div class="well well-sm  bg-color-darken txt-color-white no-border">
                    <div class="fa-lg">
                        Total Due :
                        <span class="pull-right" data-bind="text: bill().total() + '**'"></span>
                    </div>

                </div>
                <br>
                <br>
            </div>
        </div>

        <!-- **** View toggle **** -->
        <!--<div class="row">
            <div class="col-sm-9">
                    <span>
                        <span class="onoffswitch-title">Show breakdown</span>
                        <span class="onoffswitch">
                            <input type="checkbox" name="start_interval" class="onoffswitch-checkbox"
                                   id="start_interval">
                            <label class="onoffswitch-label" for="start_interval">
                                <span class="onoffswitch-inner"
                                      data-swchon-text="Yes"
                                      data-swchoff-text="No"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </span>
                    </span>
            </div>
        </div>-->
        <div class="row">
            <table class="table table-hover" data-bind="sortable" id="billingCreateTable" data-sortable>
                <thead>
                <tr>
                    <th data-sortable="true" data-sorted="true" data-sorted-direction="ascending">DATE</th>
                    <th>TASK</th>
                    <th>DESCRIPTION</th>
                    <th>TIME</th>
                    <th>MILEAGE</th>
                    <th>EXPENSE</th>
                    <th>AMOUNT</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <!-- ko foreach: { data: bill().billingItems(), as: 'billingItem' } -->
                <tr>
                    <td data-bind="text: $parent.DateUtils.niceDate(billingItem.entryDate(), false)"></td>
                    <td><a href="javascript:void(0);" data-bind="text: billingItem.tag()" ></a></td>
                    <td data-bind="text: billingItem.summary()"></td>

                    <td><span
                            data-bind="editable: billingItem.time,
                                       editableOptions: {mode: 'popup',
                                                         title: 'Edit time',
                                                         success: $parent.onTimeUpdate.bind($parent, billingItem)}"></span>
                    </td>
                    <td><span
                            data-bind="editable: billingItem.mileage,
                                       editableOptions: {mode: 'popup',
                                                         title: 'Edit Mileage',
                                                         success: $parent.onMileageUpdate.bind($parent, billingItem)}"></span>
                    </td>
                    <td><span
                            data-bind="editable: billingItem.expenseAmount,
                                       editableOptions: {mode: 'popup',
                                                         title: 'Edit Amount',
                                                         success: $parent.onExpenseAmountUpdate.bind($parent, billingItem)}"></span>
                    </td>
                    <td data-bind="text: billingItem.totalAmount"></td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="Exclude item from this Bill"
                           data-bind="click: $parent.removeBillingItem,
                                      text: billingItem.removeOrUndoLabel()">
                        </a>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>


        <!-- **** End entries listing **** -->

        <!-- **** Start footer **** -->
        <div class="invoice-footer padding-10">
            <div class="row margin-bottom-5">
                <div>
                    <div class="col-sm-offset-8 col-sm-2 text-right">Pre-tax Total</div>
                    <div class="col-sm-2"><strong data-bind="text: bill().preTaxTotal"></strong></div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="col-sm-offset-8 col-sm-2 text-right"
                         data-bind="text: 'Tax (' + bill().taxRate() + ')%'"></div>
                    <div class="col-sm-2"><strong data-bind="text: bill().tax"></strong></div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="col-sm-offset-8 col-sm-2 text-right"><h3><strong>Total</strong></h3></div>
                    <div class="col-sm-2"><strong><h3><strong>
                        <span class="text-success" data-bind="text: bill().total"></span>
                    </strong></h3></strong></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a href="javascript:void(0);" class="btn btn-labeled btn-info"
                           data-bind="click: updateBill">
                            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Save draft
                        </a>
                        <a href="javascript:void(0);" class="btn btn-labeled btn-success" data-bind="click: submitBill">
                            <span class="btn-label"><i class="glyphicon glyphicon-arrow-right"></i></span>Submit Bill
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="note">**To avoid any excess penalty charges, please make payments within 30 days
                        of the due date. There will be a 2% interest charge per month on all late invoices.</p>
                </div>
            </div>
        </div>
        <!-- **** End footer **** -->


    </div>
</div>
