<div class="panel panel-default">

    <div class="panel-heading">
        <a href="javascript:void(0);" class="btn-xs btn-labeled btn-link"
           data-bind="click: routeToBillingHistory">
            <span class="btn-label">
                <i class="glyphicon glyphicon-chevron-left"></i></span>Billing history
        </a>
    </div>

    <div class="panel-body">
        <div class="pull-left">
            <img src="img/logo-blacknwhite.png" width="150" height="32" alt="invoice icon">

            <address>
                <br>
                <strong>SmartAdmin, Inc.</strong>
                <br>
                231 Ajax Rd,
                <br>
                Detroit MI - 48212, USA
                <br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
        </div>

        <div class="pull-right">
            <h1 class="font-400">Invoice</h1>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-9">
                <h4 class="semi-bold">Rogers, Inc.</h4>
                <address>
                    <strong>Mr. Simon Hedger</strong>
                    <br>
                    342 Mirlington Road,
                    <br>
                    Calfornia, CA 431464
                    <br>
                    <abbr title="Phone">P:</abbr> (467) 143-4317
                </address>
            </div>
            <div class="col-sm-3">
                <div>
                    <div>
                        <strong>INVOICE NO :</strong>
                        <span class="pull-right"> #AA-454-4113-00 </span>
                    </div>

                </div>
                <div>
                    <div class="font-md">
                        <strong>INVOICE DATE :</strong>
                        <span class="pull-right"> <i class="fa fa-calendar"></i> 15/02/13 </span>
                    </div>

                </div>
                <br>

                <div class="well well-sm  bg-color-darken txt-color-white no-border">
                    <div class="fa-lg">
                        Total Due :
                        <span class="pull-right"> 4,972 USD** </span>
                    </div>

                </div>
                <br>
                <br>
            </div>
        </div>

        <!-- **** View toggle **** -->
        <!--<div class="row">
            <div class="col-sm-9">
                    <span>
                        <span class="onoffswitch-title">Show breakdown</span>
                        <span class="onoffswitch">
                            <input type="checkbox" name="start_interval" class="onoffswitch-checkbox"
                                   id="start_interval">
                            <label class="onoffswitch-label" for="start_interval">
                                <span class="onoffswitch-inner"
                                      data-swchon-text="Yes"
                                      data-swchoff-text="No"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </span>
                    </span>
            </div>
        </div>-->

        <div class="row">
            <div class="col-sm-12">
                <div class="well well-sm bg-color-greenLighter txt-color-green text-center">
                    Below are the <i>completed</i> tasks - ready for billing
                </div>
            </div>
        </div>

        <table class="table table-hover smart-form">
            <thead>
            <tr>
                <th>DATE</th>
                <th>TASK</th>
                <th>DESCRIPTION</th>
                <th>TIME</th>
                <th>MILEAGE</th>
                <th>EXPENSE</th>
                <th>AMOUNT</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <!-- ko foreach: { data: claimEntries, as: 'entry' } -->
            <tr>
                <td data-bind="text: $parent.DateUtils.niceDate(entry.entryDate, false)"></td>
                <td><a href="javascript:void(0);" data-bind="text: entry.tag"></a></td>
                <td data-bind="text: entry.summary"></td>
                <!-- ko if: entry.billingItem -->
                <td data-bind="text: entry.billingItem.time"></td>
                <td data-bind="text: entry.billingItem.mileage"></td>
                <td data-bind="text: entry.billingItem.expenseAmount"></td>
                <td>$1,300.00</td>
                <!-- /ko -->
                <!-- ko ifnot: entry.billingItem -->
                <td colspan="3">&nbsp;</td>
                <td class="txt-color-blueLight"><i>Not billed</i></td>
                <!-- /ko -->
                <td>
                    <a class="fa fa-times"
                       data-toggle="tooltip" data-placement="top" title="Exclude item from this Bill"
                       data-bind="click: $parent.removeBillingItem">
                    </a>
                </td>
            </tr>
            <!-- /ko -->

            <tr>
                <td colspan="4">Total</td>
                <td><strong>$4,400.00</strong></td>
            </tr>
            <tr>
                <td colspan="4">HST/GST</td>
                <td><strong>13%</strong></td>
            </tr>
            </tbody>
        </table>
        <!-- **** End entries listing **** -->

        <!-- **** Start footer **** -->
        <div class="invoice-footer padding-10">
            <div class="row">
                <div class="col-sm-3 pull-right">
                    <div>
                        <h3><strong>Total: <span class="text-success">$4,972 USD</span></strong></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a href="javascript:void(0);" class="btn btn-labeled btn-success" data-bind="click: saveBill">
                            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Submit Bill
                        </a>
                        <a href="javascript:void(0);" class="btn btn-labeled btn-danger"
                           data-bind="click: cancelBillCreation">
                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancel
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="note">**To avoid any excess penalty charges, please make payments within 30 days
                        of the due date. There will be a 2% interest charge per month on all late invoices.</p>
                </div>
            </div>
        </div>
        <!-- **** End footer **** -->


    </div>
</div>
