<table style="border: solid #000000 1px; width: 100%">
    <tbody class="invoice-body">
    <tr>
        <th>Date</th>
        <th>Code</th>
        <th>Activity Description</th>
        <th>Mileage</th>
        <th>Time</th>
        <th>Expense Type</th>
        <th>Expense Amount</th>
    </tr>

    <!-- ko foreach: { data: bill().billingItems(), as: 'billingItem' } -->
    <tr>
        <td data-bind="text: $parent.DateUtils.niceDate(billingItem.entryDate(), false)" style="width: 90px"></td>
        <td data-bind="text: billingItem.code"></td>
        <td data-bind="text: billingItem.summary"></td>
        <td data-bind="text: billingItem.time"></td>
        <td data-bind="text: billingItem.mileage"></td>
        <td data-bind="text: billingItem.tag"></td>
        <td data-bind="text: billingItem.expenseAmount"></td>
    </tr>
    <!-- /ko -->

    <tr>
        <td colspan="2"></td>
        <td>
            <strong>Total Hours:</strong>
            <span data-bind="text: bill().totalTime() + ' Hrs'"></span>
        </td>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>
            <strong>Total Mileage:</strong>
            <span data-bind="text: bill().totalMileage() + ' Miles'"></span>
        </td>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>
            <strong>Total Expenses:</strong>
            <span data-bind="text: '$' + bill().totalExpenseAmount()"></span>
        </td>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>
            <strong>Total:</strong>
            <span data-bind="text: '$' + bill().total()"></span>
        </td>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="3"><strong>Insured: </strong><span data-bind="text: activeClaim.insuredContact.name"/></td>
        <td colspan="4"><strong>Date of loss: </strong><span data-bind="text: DateUtils.niceDate(activeClaim.dateOfLoss(), false)"/></td>
    </tr>
    <tr>
        <td colspan="3"><strong>Clmnt: </strong><span data-bind="text: activeClaim.claimantContact.name"/></td>
        <td colspan="4"><strong>Adjuster: </strong><span data-bind="text: 'Bill B.'"/></td>
    </tr>
    <tr>
        <td colspan="3"><strong>Client file:</strong></td>
        <td colspan="4"><strong>Mark file:</strong></td>
    </tr>
    </tbody>
</table>
