<!-- ************************************************************ -->
<!-- Bills listing -->
<!-- ************************************************************ -->
<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Billing Overview</h3>
    </div>

    <div class="panel-body" data-bind="if: bills().length > 0">

        <div class="row margin-bottom-5">
            <div class="col-sm-8 col-lg-6">
                <div class="btn-group alignRight">
                    <a class="btn btn-sm btn-info" data-bind="attr: {href: '#/claim/' + claimId + '/newbill'}">
                        <i class="fa fa-plus"></i> New Invoice
                    </a>
                </div>
                <div class="btn-group alignRight rightMargin5">
                    <a class="btn btn-default btn-sm" data-bind="click: onUserProfileClick">
                        <i class="fa fa-gear"></i> Invoice settings
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-lg-6">
                <table id="billingListTable" data-sortable
                       data-bind="sortable" class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th data-field="id" data-sortable="true">Bill ID</th>
                        <th data-field="billingDate" data-sortable="true">Billing Date</th>
                        <th>Status</th>
                        <th data-field="total" data-sortable="true">Total</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: { data: bills, as: 'bill' }">
                    <tr>
                        <td data-bind="text: bill._id,
                                       click: $parent.router.routeToBill"></td>
                        <td data-bind="text: bill.billingDate ? bill.billingDate.toLocaleString() : 'None',
                                       click: $parent.router.routeToBill"></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-sm dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-bind="html: bill.status + ' <span class=\'caret\'></span>',
                                               css: bill.status === $parent.billingStatus.PAID() ? 'btn-success' : 'btn-link'">
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-bind="html: '<i class=&quot;fa fa-circle-o&quot;>&nbsp;</i>' + $parent.billingStatus.NOT_SUBMITTED(),
                                                  click: $parent.onUpdateBillStatus.bind($parent, $parent.billingStatus.NOT_SUBMITTED(), bill)"></a>
                                    </li>
                                    <li>
                                        <a data-bind="html: '<i class=&quot;fa fa-circle&quot;>&nbsp;</i>' + $parent.billingStatus.SUBMITTED(),
                                                  click: $parent.onUpdateBillStatus.bind($parent, $parent.billingStatus.SUBMITTED(), bill)"></a>
                                    </li>
                                    <li>
                                        <a data-bind="html: '<i class=&quot;fa fa-check&quot;>&nbsp;</i>' + $parent.billingStatus.PAID(),
                                                  click: $parent.onUpdateBillStatus.bind($parent, $parent.billingStatus.PAID(), bill)"></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td data-bind="text: bill.total ? '$' + bill.total : '',
                                       click: $parent.router.routeToBill"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-body" data-bind="if: bills().length <= 0">
        No Bills submitted for this claim yet.
        <a data-bind="attr: {href: '#/claim/' + claimId + '/newbill'}">Create New?</a>
    </div>
</div>