<!-- ************************************************************ -->
<!-- Bills listing -->
<!-- ************************************************************ -->
<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Billing Overview</h3>
    </div>

    <div class="panel-body" data-bind="if: bills().length > 0">

        <!-- Filtered msg. -->
        <div class="row bottomMargin5" data-bind="if: Boolean(claimId())">
            <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="alert alert-info" role="alert">
                    Showing bills for Claim
                    <span data-bind="text: claimId"></span>
                    <strong><a href="#" data-bind="click: onShowAllClaims">Show all</a></strong>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="row bottomMargin5">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--
                NOTE: This has to wait till we have something to ask for the claim to Bill

                <div class="col-lg-5 col-md-4 col-sm-2 col-xs-2">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-info" data-bind="attr: {href: '#/claim/' + claimId() + '/newbill'}">
                            <i class="fa fa-plus"></i> New Invoice
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 rightBorderSolid" style="padding: 5px">
                    <div class="pull-right">
                        <input type="checkbox" data-bind="checked: showClosedClaims">
                        <span>Show Closed Claims</span>
                    </div>
                </div>
                -->
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 inline pull-right" style="padding: 0px;">
                    <input class="form-control no-border" id="prepend"
                           placeholder="Start typing Claim file num" type="text"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 inline pull-right" style="padding: 0px;">
                    <div class="form-group rightBorderSolid inline rightMargin5">
                        <!-- Group selection -->
                        <div class="inline">Status</div>
                        <div class="inline">
                            <select class="form-control input-sm summaryGroupSelector"
                                    data-bind="value: groupBy,
                                               options: groupByOptions"></select></div>
                    </div>
                    <div class="glyphicon glyphicon-search inline"
                         style="font-size: initial; padding-top: 10px;"
                         aria-hidden="true"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Sorting is enabled via koSortableBinding -->
                <table id="billingListTable"
                       data-sortable
                       data-bind="sortable"
                       class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th data-field="claimInsuranceCompanyFileNum" data-sortable="true">File num. / Insurance co. num.</th>
                        <th data-field="id" data-sortable="true">Bill Id</th>
                        <th>Bill status</th>
                        <th data-field="submissionDate" data-sortable="true">Submitted on</th>
                        <th data-field="paidDate" data-sortable="true">Paid on</th>
                        <th data-field="total" data-sortable="true">Total</th>
                        <th data-field="totaTimel" data-sortable="true">Time</th>
                        <th data-field="totalMileage" data-sortable="true">Mileage</th>
                        <th data-field="totalExpense" data-sortable="true">Expense</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: { data: filteredBills, as: 'bill' }">
                    <tr>
                        <td data-bind="html: '<span class=\'color-dark-grey\'>' +
                                        bill.claimInsuranceCompanyFileNum +
                                        ' / ' +
                                        bill.claimFileNum +
                                        '</span><br/>' +
                                        bill.claimInsuranceCompanyName,
                                       click: $parent.router.routeToBill"></td>
                        <td data-bind="text: bill._id,
                                       click: $parent.router.routeToBill"></td>
                        <td>
                            <!-- ko ifnot: bill.isClaimClosed -->
                            <div class="btn-group">
                                <button class="btn btn-md dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-bind="html: bill.status + ' <span class=\'caret\'></span>',
                                               css: bill.status === $parent.billingStatus.PAID() ? 'btn-success' : 'btn-link'">
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-bind="html: '<i class=&quot;fa fa-circle-o&quot;>&nbsp;</i>' + $parent.billingStatus.NOT_SUBMITTED(),
                                                  click: $parent.onUpdateBillStatus.bind($parent, $parent.billingStatus.NOT_SUBMITTED(), bill)"></a>
                                    </li>
                                    <li>
                                        <a data-bind="html: '<i class=&quot;fa fa-circle&quot;>&nbsp;</i>' + $parent.billingStatus.SUBMITTED(),
                                                  click: $parent.onUpdateBillStatus.bind($parent, $parent.billingStatus.SUBMITTED(), bill)"></a>
                                    </li>
                                    <li>
                                        <a data-bind="html: '<i class=&quot;fa fa-check&quot;>&nbsp;</i>' + $parent.billingStatus.PAID(),
                                                  click: $parent.onUpdateBillStatus.bind($parent, $parent.billingStatus.PAID(), bill)"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: bill.isClaimClosed -->
                                <span data-bind="text: bill.status"></span>
                            <!-- /ko -->
                        </td>
                        <td data-bind="text: bill.submissionDate ? $parent.DateUtils.niceDate(bill.submissionDate, false, '-') : '-',
                                       click: $parent.router.routeToBill"></td>

                        <td data-bind="text: bill.paidDate ? $parent.DateUtils.niceDate(bill.paidDate, false, '-') : '-',
                                       click: $parent.router.routeToBill"></td>

                        <td><span class="color-dark-grey billTotalAmount"
                                  data-bind="text: $parent.NumberUtils.niceCCY(bill.total),
                                             click: $parent.router.routeToBill"></span></td>

                        <td><span data-bind="text: $parent.NumberUtils.nice(bill.totalTime),
                                             click: $parent.router.routeToBill"></span></td>

                        <td><span data-bind="text: $parent.NumberUtils.nice(bill.totalMileage),
                                             click: $parent.router.routeToBill"></span></td>

                        <td><span data-bind="text: $parent.NumberUtils.niceCCY(bill.totalExpenseAmount),
                                             click: $parent.router.routeToBill"></span></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" style="border-top-width: 0"></td>
                        <td class="topBorderSubTotal">
                            <span class="pull-right billSubTotal">Total</span>
                        </td>
                        <td class="topBorderSubTotal">
                            <span class="text-success billSubTotal"
                                  data-bind="text: NumberUtils.niceCCY(filteredTotal())"></span>
                        </td>
                        <td class="topBorderSubTotal">
                            <span class="text-success billSubTotal"
                                  data-bind="text: NumberUtils.nice(filteredTotalTime()) + ' Hrs'"></span>
                        </td>
                        <td class="topBorderSubTotal">
                            <span class="text-success billSubTotal"
                                  data-bind="text: NumberUtils.nice(filteredTotalMileage()) + ' Miles'"></span>

                        </td>
                        <td class="topBorderSubTotal">
                            <span class="text-success billSubTotal"
                                  data-bind="text: NumberUtils.niceCCY(filteredTotalExpenses())"></span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-body" data-bind="if: bills().length <= 0">
        No Bills submitted for this claim yet.
        <a data-bind="attr: {href: '#/claim/' + claimId() + '/newbill'}">Create New?</a>
    </div>
</div>