<div class="panel panel-default">

<div class="panel-heading">
    <a href="javascript:void(0);" class="btn-xs btn-labeled btn-link"
       data-bind="click: routeToBillingOverview">
            <span class="btn-label">
                <i class="glyphicon glyphicon-chevron-left"></i></span>Billing Overview
    </a>

    <div class="pull-right">
        <i class="fa fa-print" style="cursor: pointer"
           onclick="var b = document.getElementById('invoice-body');
                    var i = document.createElement('iframe');
                    document.body.appendChild(i);
                    var p = i.contentWindow;
                    p.document.open();
                    p.document.write('<html><head>');
                    p.document.write('<link rel=stylesheet href=../../css/bootstrap.css type=text/css media=print />');
                    p.document.write('</head><body >');
                    p.document.write(b.innerHTML);
                    p.document.write('</body></html>');
                    p.document.close();
                    p.focus();
                    p.print();
                    document.body.removeChild(i);
                    return false;"> Print</i>
    </div>
</div>

<div class="panel-body">
<div data-bind="if: isBillEditable" class="row" id="bililngCreateMsg">
    <div class="col-sm-12">
        <div class="well well-sm bg-color-greenLighter txt-color-green text-center">
            Some help text here?
        </div>
    </div>
</div>
<div data-bind="ifnot: isBillEditable" class="row">
    <div class="col-sm-12">
        <div class="well well-sm bg-color-greenLighter txt-color-green text-center">
            <i class="fa fa-check-circle"></i>
            <strong>Invoice submitted.</strong> Sent on <span
                data-bind="text: DateUtils.niceDate(bill().billingDate())"></span>
        </div>
    </div>
</div>

<div id="invoice-body" class="yes-print">
    <div class="pull-left">
        <img src="img/logo-blacknwhite.png" width="150" height="32" alt="invoice icon">

        <address>
            <br>
            <strong>SmartAdmin, Inc.</strong>
            <br>
            231 Ajax Rd,
            <br>
            Detroit MI - 48212, USA
            <br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div>

    <div class="pull-right">
        <h1 class="font-400">Invoice</h1>
    </div>
    <div class="clearfix"></div>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-8">
            <h4 class="semi-bold">Rogers, Inc.</h4>
            <address>
                <strong>Mr. Simon Hedger</strong>
                <br>
                342 Mirlington Road,
                <br>
                Calfornia, CA 431464
                <br>
                <abbr title="Phone">P:</abbr> (467) 143-4317
            </address>
        </div>
        <div class="col-sm-4">
            <div>
                <div>
                    <strong>Invoice Num :</strong>
                    <span class="pull-right" data-bind="text: bill()._id"></span>
                </div>

            </div>
            <div>
                <div class="font-md">
                    <strong>Invoice Date :</strong>
                        <span class="pull-right"
                              data-bind="text: bill().billingDate() != null ? bill().billingDate().toDateString() : 'Not submitted'">
                            <i class="fa fa-calendar"></i>
                        </span>
                </div>

            </div>
            <br>

            <div class="well well-sm  bg-color-darken txt-color-white no-border">
                <div class="fa-lg">
                    Total Due :
                    <span class="pull-right" data-bind="text: bill().total() + '**'"></span>
                </div>

            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover" data-bind="sortable" id="billingCreateTable" data-sortable>
            <thead>
            <tr>
                <th data-sortable="true" data-sorted="true" data-sorted-direction="ascending">DATE</th>
                <th>TASK</th>
                <th>DESCRIPTION</th>
                <th>TIME</th>
                <th>MILEAGE</th>
                <th>EXPENSE</th>
                <th>AMOUNT</th>
                <th data-bind="if: isBillEditable">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <!-- ko foreach: { data: bill().billingItems(), as: 'billingItem' } -->
            <tr>
                <td data-bind="text: $parent.DateUtils.niceDate(billingItem.entryDate(), false)"></td>
                <td><a href="javascript:void(0);" data-bind="text: billingItem.tag()"></a></td>
                <td data-bind="text: billingItem.summary()"></td>

                <td>
                    <span data-bind="ifnot: $parent.isBillEditable">
                         <span data-bind="text: billingItem.time"></span>
                    </span>
                    <span data-bind="if: $parent.isBillEditable">
                        <span data-bind="editable: billingItem.time,
                                         editableOptions: {mode: 'popup',
                                                           title: 'Edit time',
                                                           success: $parent.onTimeUpdate.bind($parent, billingItem)}"></span>
                    </span>
                </td>
                <td>
                    <span data-bind="ifnot: $parent.isBillEditable">
                        <span data-bind="text: billingItem.mileage"></span>
                    </span>
                    <span data-bind="if: $parent.isBillEditable">
                        <span data-bind="editable: billingItem.mileage,
                                         editableOptions: {mode: 'popup',
                                                         title: 'Edit Mileage',
                                                         success: $parent.onMileageUpdate.bind($parent, billingItem)}"></span>
                    </span>
                </td>
                <td>
                    <span data-bind="ifnot: $parent.isBillEditable">
                        <span data-bind="text: billingItem.expenseAmount"></span>
                    </span>
                    <span data-bind="if: $parent.isBillEditable">
                        <span data-bind="editable: billingItem.expenseAmount,
                                         editableOptions: {mode: 'popup',
                                                           title: 'Edit Amount',
                                                           success: $parent.onExpenseAmountUpdate.bind($parent, billingItem)}"></span>
                    </span>
                </td>
                <td data-bind="text: billingItem.totalAmount"></td>
                <td>
                    <span data-bind="if: $parent.isBillEditable">
                        <a data-toggle="tooltip" data-placement="top" title="Exclude item from this Bill"
                           data-bind="click: $parent.removeBillingItem,
                                      text: billingItem.removeOrUndoLabel ? billingItem.removeOrUndoLabel() : ''">
                        </a>
                    </span>
                </td>
            </tr>
            <!-- /ko -->
            <tr>
                <td colspan="3">Sub-total</td>
                <td><strong data-bind="text: bill().totalTime() + ' Hrs'"></strong></td>
                <td><strong data-bind="text: bill().totalMileage() + ' Miles'"></strong></td>
                <td><strong data-bind="text: '$' + bill().totalExpenseAmount()">$4,400.00</strong></td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- **** End entries listing **** -->

    <!-- **** Start footer **** -->
    <div class="invoice-footer padding-10">
        <div class="row margin-bottom-5">
            <div>
                <div class="col-sm-offset-8 col-sm-2 text-right">Pre-tax Total</div>
                <div class="col-sm-2"><strong data-bind="text: bill().preTaxTotal"></strong></div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-offset-8 col-sm-2 text-right"
                     data-bind="text: 'Tax (' + bill().taxRate() + ')%'"></div>
                <div class="col-sm-2"><strong data-bind="text: bill().tax"></strong></div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-offset-8 col-sm-2 text-right"><h3><strong>Total</strong></h3></div>
                <div class="col-sm-2"><strong><h3><strong>
                    <span class="text-success" data-bind="text: bill().total"></span>
                </strong></h3></strong></div>
            </div>
        </div>
        <div class="row" data-bind="if: isBillEditable">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn btn-labeled btn-info"
                       data-bind="click: updateBill">
                        <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Save draft
                    </a>
                    <a href="javascript:void(0);" class="btn btn-labeled btn-success" data-bind="click: submitBill">
                        <span class="btn-label"><i class="glyphicon glyphicon-arrow-right"></i></span>Submit Bill
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="note">**To avoid any excess penalty charges, please make payments within 30 days
                    of the due date. There will be a 2% interest charge per month on all late invoices.</p>
            </div>
        </div>
    </div>
    <!-- **** End footer **** -->
</div>

</div>
</div>
