<!-- Note: Div container is managed by parent -->
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <th>Insurance Co. File No.</th>
        <th>Description</th>
        <th>Insurance Company</th>
        <th>Date Received</th>
        <th>Due Date</th>
        </thead>

        <tbody data-bind="foreach : {data: searchResults, as: 'claim'}">
        <tr data-bind="click: $parent.onClaimSelect">
            <td class="col-lg-2" data-bind="text: claim.insuranceCompanyFileNum"></td>
            <td class="col-lg-2" data-bind="textTruncate: claim.description"></td>
            <td class="col-lg-2" data-bind="text: claim.insuranceCompanyName"></td>
            <td class="col-lg-2" data-bind="text: $parent.DateUtils.niceDate(claim.dateReceived())"></td>
            <td class="col-lg-2" data-bind="text: $parent.DateUtils.niceDate(claim.dateDue())"></td>
        </tr>
        </tbody>
    </table>
</div>
