<div class="panel panel-default">
    <div id="claims-list-toolbar">
        <button type="button"
                id="claims-list-new-claim"
                class="btn btn-default btn-info"
                style="padding-top: 4px; top: -3px; position: relative;"
                data-bind="click: router.routeToNewClaim">
            <span class="fa fa-plus" style="font-size: .8em"></span>
            New Claim
        </button>
        <div class="inline dropdown-container" style="padding-right: 10px; padding-left: 10px;">
            <div class="inline text-between-dropdown">Status</div>
            <div class="inline">
                <select class="form-control input dropdown"
                        data-bind="value: groupBy, options: groupByOptions"></select></div>
        </div>
    </div>

    <!-- Claims --->
    <div data-bind='template: { name: "claimsListTemplate",
                                afterRender: onclaimsListTmplRender.bind($data) }'></div>

    <span id="claimListTableFooter">.</span>
</div>


<script type="text/html" id="claimsListTemplate">
    <div class="panel-body" style="padding-top: 0">

        <table id="claimListTable"
               data-classes="table table-hover"
               data-search="true"
               data-sort-name="date1"
               data-sort-order="desc"
               data-maintain-selected="true"
               data-export-types="['excel']"
               data-bind='event: {"click-row.bs.table": onClaimSelect}'
               data-toolbar="#claims-list-toolbar"
               data-buttons-align="left">

            <thead id="claimListTableHeader">
            <th data-field="fileNo" data-sortable="true" data-visible="true">File No.</th>
            <th data-field="insured" data-sortable="true" data-sort-name="insuredSort">Insured</th>
            <th data-field="claimant" data-sortable="true" data-sort-name="claimantSort">Claimant</th>
            <th data-field="desc" data-sortable="true">Description</th>
            <th data-field="dateDue" data-sortable="true" data-sort-name="dueTime">Due</th>
            <th data-field="insuranceCo" data-sortable="true" data-visible="true">Insurance Co.</th>
            <!-- See client/lib/bootstrap.table.customization.js for CSS override -->
            <th data-field="ageText" data-sort-name="age" data-sortable="true">Age</th>
            <th data-field="claimId" data-sortable="true" data-visible="false">Id</th>
            </thead>

            <!-- Rows appended by Bootstrap table in VM -->
        </table>
    </div>
</script>