<div id="userProfileModal"
     class="modal fade" role="dialog" aria-labelledby="userProfileModalLabel" aria-hidden="true"
     style="width: 50%; right: 25%; left: 25%; top:25%">

    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="userProfileModalLabel">
                    <i class="fa fa-user"></i>&nbsp;
                    <span data-bind="text: userProfile._id() + '\'s profile'"></span></h4>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal">

                        <fieldset>
                            <legend>Billing Profile</legend>
                            <div class="row bottomMargin5">
                                <div class="col-md-3">Track time in</div>
                                <div class="col-md-4" data-bind="text: userProfile.billingProfile.timeUnit"></div>
                            </div>
                            <div class="row bottomMargin5">
                                <div class="col-md-3" data-bind="text: 'Rate/' + userProfile.billingProfile.timeUnit()"></div>
                                <div class="col-md-4" data-bind="text: '$ ' + userProfile.billingProfile.timeRate()"></div>
                            </div>
                            <div class="row bottomMargin5">
                                <div class="col-md-3">Track distance in</div>
                                <div class="col-md-4" data-bind="text: userProfile.billingProfile.distanceUnit"></div>
                            </div>
                            <div class="row bottomMargin5">
                                <div class="col-md-3" data-bind="text: 'Rate/' + userProfile.billingProfile.distanceUnit()">/</div>
                                <div class="col-md-4" data-bind="text: '$ ' + userProfile.billingProfile.distanceRate()"></div>
                            </div>

                        </fieldset>
                    </form>

                    <!--<div class="row">
                        <div class="col-sm-9">
                            Level 1: .col-sm-9
                            <div class="row">
                                <div class="col-xs-8 col-sm-6">
                                    Level 2: .col-xs-8 .col-sm-6
                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    Level 2: .col-xs-4 .col-sm-6
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: onLogoff">Logoff</button>
            </div>

        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>