<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../../../lib/require.js"></script>
    <script src="../../../lib/requireConfig.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="../../css/app.css">
</head>

<body>

<!-- **** Header **** -->
<div class="inline header" style="width: 100%">

    <!-- Logo -->
    <div class="inline">
        <a href="#/home">
            <div class="headerLogo headerLabel">Agent 007</div>
        </a>
    </div>

    <!-- Help -->
    <div class="inline alignRight rightMargin10 topMargin10" style="cursor: pointer">
        <a data-bind="click: onHelpClick" class="headerLabel">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span>Help</span>
        </a>
    </div>

    <!-- Notifications -->
    <div data-bind="component: 'notifier-component'"></div>
</div>

<div style="display: inline-flex; width: 100%; height: 90%; vertical-align: top; white-space: nowrap">

    <!-- **** Search panel **** -->
    <div id="searchPanel" class="slidingContainer searchPanel">

        <!-- Menu icon -->
        <div class="alignRight rightMargin topMargin5">
            <div class="fa fa-align-justify fa-lg toggleButton"
                 style="cursor: pointer"
                 data-bind="click: toggleSearchPanel"></div>
        </div>
        <div class="clear"></div>

        <!-- Panel content -->
        <div id="searchPanelContent">

            <!-- New claim -->
            <div class="topMargin5">
                <div style="width: 90%; margin: auto">
                    <button type="button" class="btn btn-default" style="width: 100%" data-bind="click: onAddNewClaim">
                        <span class="fa fa-plus"></span>
                        <span class="leftMargin">New Claim</span>
                    </button>
                </div>
            </div>
            <div class="clear topMargin1pc"></div>

            <div>
                <select class="form-control" style="width: 90%; margin: auto"
                        data-bind="options: states,
                                   value: status,
                                   optionsText: 'name',
                                   selectedOptions: stateChoice"></select>
            </div>

            <div>
                <div class="searchPanelItemGroup">
                    <span class="fa fa-flag"></span>
                    <span class="leftMargin">Status</span>
                </div>
                <div class="searchPanelItem">Action required</div>
                <div class="searchPanelItem">Waiting for others</div>
                <div class="searchPanelItem">Due soon</div>
            </div>

            <div>
                <div class="searchPanelItemGroup">
                    <span class="fa fa-dot-circle-o"></span>
                    <span class="leftMargin">Date</span>
                </div>
                <div class="searchPanelItem">Past 2 weeks</div>
            </div>

            <div>
                <div class="searchPanelItemGroup">
                    <span class="fa fa-calculator"></span>
                    <span class="leftMargin">Billing</span>
                </div>
            </div>

        </div>

        <!-- Collapsed label -->
        <div id="searchPanelCollapsedContent" class="collapsedcontainer"
             data-bind="click: toggleSearchPanel">
            <div class="collapsedcontainerLabel">Search</div>
        </div>

    </div>

    <!-- **** Claims list **** -->
    <div id="gridPanel" class="slidingContainer gridPanel">

        <div id="gridPanelContent" class="gridPanelContent">

            <!-- View selection -->
            <div class="alignLeft">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"
                            data-bind="click: onClaimsListViewClick">
                        <span class="fa fa-list"></span>
                        <span>Claims</span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm"
                            data-bind="click: onClaimsSummaryViewClick">
                        <span class="fa fa-tasks"></span>
                        <span>Task summary</span>
                    </button>
                </div>
            </div>

            <!-- Search -->
            <div class="wider alignRight">
                <div class="input-group alignRight">
                    <input type="text" class="form-control input-sm" placeholder="Find on page...">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button">
                            Go
                        </button>
                      </span>
                </div>
            </div>
            <div class="clear bottomMargin"></div>

            <!-- Claims list Component -->
            <div data-bind="component: 'claims-list-component',
                            visible  : showClaimsList"></div>

            <!-- Summary Component -->
            <div data-bind="component: 'summary-component',
                            visible  : showSummary"></div>
        </div>

        <div id="gridPanelCollapsedContent" class="collapsedcontainer gridPanelCollapsedContent"
             data-bind="click: toggleGridPanel">
            <div class="collapsedcontainerLabel">Dashboard</div>
        </div>
    </div>

    <!-- **** Claim module **** -->
    <div id="claimPanel" class="slidingContainer claimPanel" style="width: 0%;">
        <div id="claimPanelContent" class="claimPanelContent">
            <div data-bind="module: {name: 'app/viewModels/claimVM',
                                     template: 'app/views/claim',
                                     afterRender: startRouter}"></div>
        </div>
    </div>

    <!-- **** Claim Entry module **** -->
    <div id="claimEntryPanel" class="slidingContainer claimEntryPanel" style="width: 0%;">

        <div id="claimEntryPanelContent" class="claimEntryPanelContent">
            <div data-bind="module: {name: 'app/viewModels/claimEntryVM', template: 'app/views/claimEntry'}"></div>
        </div>
    </div>
</div>

<span style="float: right; margin-right: 3px; color: darkgray"><i>Logicube 2014</i></span>

</body>

<script type="application/javascript">
    /**
     * Load libs and init Knockout - on app startup. See requireConfig.js
     */
    require(['jquery', 'knockout', 'KOAmd', 'text', 'amplify', 'app/viewModels/appVM', 'shared/dateUtils',
             'app/utils/koDatetimePickerBinding', 'app/utils/koWYSIWYGBinding',
                'velocity', 'bootstrap'],
            function ($, ko, KOAmd, text, amplify, AppVM, DateUtils) {
                console.log('Init App');

                DateUtils.enableJSONDateHandling();

                // Knockout AMD supoprt setup
                ko.amdTemplateEngine.defaultRequireTextPluginName = "text";
                ko.amdTemplateEngine.defaultPath = "/";
                ko.amdTemplateEngine.defaultSuffix = ".tmpl.html";

                // Register components
                ko.components.register('contact-component',     {require: 'app/components/contact/contactComponent'});
                ko.components.register('file-upload-component', {require: 'app/components/fileUpload/fileUploadComponent'});
                ko.components.register('summary-component',     {require: 'app/components/summary/summaryVM'});
                ko.components.register('claims-list-component', {require: 'app/components/claimsList/claimsListVM'});
                ko.components.register('notifier-component',    {require: 'app/components/notifier/notifierVM'});
                ko.components.register('maps-component',        {require: 'app/components/maps/mapsComponent'});
                ko.components.register('status-editor-component', {require: 'app/components/statusEditor/statusEditorComponent'});
                ko.components.register('wysiwyg-editor-component', {require: 'app/components/statusEditor/statusEditorComponent'});

                // Knockout bindings init
                ko.applyBindings(new AppVM());
            });
</script>
</html>
