<head xmlns="http://www.w3.org/1999/html">
    <script src="../../../lib/require.js"></script>
    <script src="../../../lib/requireConfig.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="../../css/app.css">
</head>

<body>

<!-- **** Header **** -->
<div class="inline header" style="width: 100%">

    <!-- Logo -->
    <div class="inline">
        <a href="#/home">
            <div class="headerLogo headerLabel">Agent 007</div>
        </a>
    </div>

    <!-- Help -->
    <div class="inline alignRight rightMargin5 topMargin10" style="cursor: pointer">
        <a data-bind="click: onHelpClick" class="headerLabel">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span >Help</span>
        </a>
    </div>

    <!-- Notifications -->
    <div data-bind="module: {name: 'app/viewModels/notifierVM', template: 'app/views/notifier'}"
         class="inline" style="width: 50%"></div>
</div>

<div style="display: inline-flex; width: 100%; height: 90%; vertical-align: top; white-space: nowrap">

    <!-- **** Search panel **** -->
    <div id="searchPanel" class="slidingContainer searchPanel">

        <!-- Menu icon -->
        <div class="alignRight rightMargin topMargin5">
            <div class="fa fa-align-justify fa-lg toggleButton"
                 style="cursor: pointer"
                 data-bind="click: toggleSearchPanel"></div>
        </div>
        <div class="clear"></div>

        <!-- Panel content -->
        <div id="searchPanelContent">
            <div class="topMargin5">
                <div style="width: 90%; margin: auto">
                    <button type="button" class="btn btn-default" style="width: 100%" data-bind="click: onAddNewClaim">
                        <span class="fa fa-plus"></span>
                        <span class="leftMargin">New Claim</span>
                    </button>
                </div>
            </div>

            <div>
                <div class="searchPanelItem"><b>Status</b></div>
                <div>
                    <select class="form-control" style="width: 90%; margin: auto"
                            data-bind="options: states,
                                       value: status,
                                       optionsText: 'name',
                                       selectedOptions: stateChoice"></select>
                </div>
            </div>

            <div>
                <div class="searchPanelItem">Action required</div>
                <div class="searchPanelItem">Waiting for others</div>
                <div class="searchPanelItem">Due soon</div>
            </div>

            <div>
                <div class="searchPanelItem"><b>Date</b></div>
                <div class="searchPanelItem">Past 2 weeks</div>
            </div>
        </div>

        <!-- Collapsed label -->
        <div id="searchPanelCollapsedContent" class="collapsedcontainer"
             data-bind="click: toggleSearchPanel">
            <div class="collapsedcontainerLabel">Search</div>
        </div>

    </div>

    <!-- **** Claims list **** -->
    <div id="gridPanel" class="slidingContainer gridPanel">

        <div id="gridPanelContent" class="gridPanelContent">

            <!-- Search -->
            <div class="wider alignRight">
                <div class="input-group alignRight">
                    <input type="text" class="form-control input-sm" placeholder="Find on page...">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button">
                            Go
                        </button>
                      </span>
                </div>
            </div>
            <div class="clear bottomMargin"></div>

            <div class="panel panel-default">
                <table class="table table-hover table-condensed">
                    <thead>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Insurance Company</th>
                    <th>Insurance Co. File No.</th>
                    <th>Date Received</th>
                    <th>Entry Date</th>
                    <th>Due Date</th>
                    <th>State</th>
                    </thead>

                    <tbody data-bind="foreach : {data: searchResults, as: 'claim'}">
                    <tr data-bind="click: $parent.onClaimSelect">
                        <td data-bind="text: claim._id"></td>
                        <td data-bind="text: claim.description"></td>
                        <td data-bind="text: claim.insuranceCompanyName"></td>
                        <td data-bind="text: claim.insuranceCompanyFileNum"></td>
                        <td data-bind="text: claim.dateReceived"></td>
                        <td data-bind="text: claim.entryDate"></td>
                        <td data-bind="text: claim.dateDue"></td>
                        <td data-bind="text: claim.state"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="gridPanelCollapsedContent" class="collapsedcontainer gridPanelCollapsedContent"
             data-bind="click: toggleGridPanel">
            <div class="collapsedcontainerLabel">Search Results</div>
        </div>
    </div>

    <!-- **** Claim module **** -->
    <div id="claimPanel" class="slidingContainer claimPanel" style="width: 0%;">
        <div id="claimPanelContent" class="claimPanelContent">
            <div data-bind="module: {name: 'app/viewModels/claimVM', template: 'app/views/claim',
                                         afterRender: startRouter}"></div>
        </div>
    </div>

    <!-- **** Claim Entry module **** -->
    <div id="claimEntryPanel" class="slidingContainer claimEntryPanel" style="width: 0%;">

        <div id="claimEntryPanelContent" class="claimEntryPanelContent">
            <div data-bind="module: {name: 'app/viewModels/claimEntryVM', template: 'app/views/claimEntry'}"></div>
        </div>
    </div>
</div>

<span style="float: right; margin-right: 3px; color: darkgray"><i>Logicube 2014</i></span>

</body>

<script type="application/javascript">
    /**
     * Load libs and init Knockout - on app startup. See requireConfig.js
     */
    require(['jquery', 'knockout', 'KOAmd', 'text', 'amplify', 'app/viewModels/appVM',
                'app/utils/events', 'app/utils/koDatetimePickerBinding', 'velocity', 'bootstrap'],
            function ($, ko, KOAmd, text, amplify, AppVM) {
                console.log('Init App');

                // Knockout AMD supoprt setup
                ko.amdTemplateEngine.defaultRequireTextPluginName = "text";
                ko.amdTemplateEngine.defaultPath = "/";
                ko.amdTemplateEngine.defaultSuffix = ".tmpl.html";

                // Register components
                ko.components.register('contact-component', {require: 'app/components/contact/contactComponent'});
                ko.components.register('file-upload-component', {require: 'app/components/fileUpload/fileUploadComponent'});

                // Knockout bindings init
                ko.applyBindings(new AppVM());
            });
</script>
