<h4 data-bind="text: 'Claim ' + (claim().insuranceCompanyFileNum() || '')"></h4>

<!-- ************************************************ -->
<!-- Claim static display -->
<!-- ************************************************ -->

<div data-bind="ifnot: inEditMode">
    <div class="bottomMargin">
        <div class="inline rightMargin">
            <span>
                <span><strong>Date received:</strong></span>
                <span data-bind="text: claim().dateReceived() || 'None'"></span>
            </span>
        </div>
        <div class="inline rightMargin">
            <span><strong>Date due:</strong></span>
            <span data-bind="text: claim().dateDue() || 'None'"></span>
        </div>
        <div class="inline rightMargin">
            <span><strong>Date of loss:</strong></span>
            <span data-bind="text: claim().dateOfLoss() || 'None'"></span>
        </div>
    </div>

    <div class="bottomMargin">
        <div class="inline rightMargin">
            <span><strong>Insured Attorney:</strong></span>
            <span data-bind="text: niceName(claim().insuredAttorneyContact)"></span>
        </div>
        <div class="inline rightMargin">
            <span><strong>Insured contact:</strong></span>
            <span data-bind="text: niceName(claim().insuredContact) "></span>
        </div>
    </div>

    <div class="bottomMargin">
        <div class="inline rightMargin">
            <span><strong>Claimant attorney:</strong></span>
            <span data-bind="text: niceName(claim().claimantsAttorneyContact)"></span>
        </div>
        <div class="inline rightMargin">
            <span><strong>Claimant contact:</strong></span>
            <span data-bind="text: niceName(claim().claimantsContact) "></span>
        </div>
    </div>

    <div class="alignRight rightMargin">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="leftMargin"><a href="#" data-bind="click: onEditModeClick.bind($data)">Edit</a></span>
    </div>
</div>


<!-- ************************************************ -->
<!-- Claim entry form -->
<!-- ************************************************ -->

<div data-bind="if: inEditMode">
    <div>
        <div class="topBorderSolid"><h5>Insurance Company</h5></div>

        <div class="inline bottomMargin">
            <div class="inline">
                <div class="inline narrow fieldLabel">Name</div>
                <div class="inline wider">
                    <input type="text" class="form-control input-sm"
                           data-bind="value: claim().insuranceCompanyName">
                </div>
                <div class="inline narrow fieldLabel">File num.</div>
                <div class="inline narrow">
                    <input type="text" class="form-control input-sm"
                           data-bind="value: claim().insuranceCompanyFileNum">
                </div>
            </div>
        </div>

        <div class="bottomMargin">
            <div class="inline">
                <div class="inline narrow fieldLabel">Date Received</div>
                <div class="inline normal">
                    <input type="text" class="form-control input-sm"
                           data-bind="datetimePicker: {
                                  datepicker: true,
                                  timepicker: true},
                                  value: claim().dateReceived"/>
                </div>
            </div>
            <div class="inline">
                <div class="inline narrow fieldLabel">Date Due</div>
                <div class="inline normal">
                    <input type="text" class="form-control input-sm"
                           data-bind="datetimePicker: {
                                  datepicker: true,
                                  timepicker: true},
                                  value: claim().dateDue"/>
                </div>
            </div>
            <div class="inline">
                <div class="inline narrow fieldLabel">Date of Loss</div>
                <div class="inline normal">
                    <input type="text" class="form-control input-sm"
                           data-bind="datetimePicker: {
                                  datepicker: true,
                                  timepicker: true},
                                  value: claim().dateOfLoss"/>
                </div>
            </div>
        </div>

        <!-- **** Insured **** -->
        <div class="topBorderSolid"><h5>Insured</h5></div>

        <div class="bottomMargin">
            <div class="narrow fieldLabel tableCell" style="display: table-cell">Attorney</div>
            <div style="display: table-cell">
                <contact-component params="contact : claim().insuredAttorneyContact,
                                       idSuffix: 'claim-insuredAttny',
                                        isBusinessOptionApplicable: true"></contact-component>
            </div>
        </div>

        <div class="bottomMargin">
            <div class="narrow fieldLabel tableCell" style="display: table-cell">Contact</div>
            <div style="display: table-cell">
                <contact-component params="contact : claim().insuredContact,
                                       idSuffix: 'claim-insuredContact',
                                       isBusinessOptionApplicable: false"></contact-component>
            </div>
        </div>

        <!-- **** Claimant **** -->
        <div class="topBorderSolid"><h5>Claimant</h5></div>

        <div class="bottomMargin">
            <div class="narrow fieldLabel" style="display: table-cell">Attorney</div>
            <div style="display: table-cell">
                <contact-component params="contact : claim().claimantsAttorneyContact,
                                       idSuffix: 'claim-claimantAttny',
                                       isBusinessOptionApplicable: true"></contact-component>
            </div>
        </div>
        <div class="bottomMargin">
            <div class="narrow fieldLabel" style="display: table-cell">Contact</div>
            <div style="display: table-cell">
                <contact-component params="contact : claim().claimantsContact,
                                       idSuffix: 'claim-claimantContact',
                                       isBusinessOptionApplicable: false"></contact-component>
            </div>
        </div>

        <div class="topBorderSolid bottomMargin"></div>

        <div class="topMargin">
            <div class="narrow fieldLabel" style="display: table-cell">
                Description
            </div>
            <div class="inline" style="display: table-cell; width: 95%; padding-left: 3px">
                <textarea class="form-control" rows="3" id="claimEntry-textArea"
                          data-bind="value: claim().description" placeholder="Note"></textarea>
            </div>
        </div>
        <div class="topMargin"/>
    </div>
</div>
<!-- ************************************************ -->
<!--List Claim Entries -->
<!-- ************************************************ -->

<div data-bind="ifnot: inEditMode">

    <div data-bind="foreach: {data: claimEntries, as: 'entry' }" style="display: table; width: 98%" class="rightMargin"
         id="claimEntriesList">

        <div style="display: table-header-group;" data-bind="if: $index() == 0" class="listHeader">
            <div style="display: table-row">
                <div style="display: table-cell">Tasks</div>
                <div style="display: table-cell">
                    <a href="#" data-bind="click: $parent.onSortEntries.bind($parent)">
                        Entered on
                    <span data-bind="css: {'glyphicon-sort-by-attributes': $parent.sortDir() == 'asc',
                                           'glyphicon-sort-by-attributes-alt': $parent.sortDir() == 'desc'}"
                          class="glyphicon"></span>
                    </a>
                </div>
            </div>
        </div>

        <div style="display: table-row" class="listItem"
             data-bind="click: $parent.onClaimEntryClick">
            <div style="min-width: 20%; display: table-cell">
                <a data-bind="attr: {href: '#/claimEntry/' + entry._id}">
                    <span data-bind="text: entry.summary"></span>
                </a>
            </div>
            <div style="display: table-cell" class="rightMargin">
                <span data-bind="text: entry.entryDate"></span>
            </div>
            <div style="display: table-cell" class="rightMargin">
                <div class="glyphicon glyphicon-chevron-right"></div>
            </div>
        </div>
    </div>
</div>

<!-- ************************************************ -->
<!--New Entry -->
<!-- ************************************************ -->

<div data-bind="ifnot: inEditMode">
    <div class="topMargin5 topBorder clear">
        <div class="inline topMargin5">
            <spam class="glyphicon glyphicon-plus"></spam>
            <a href="#/claimEntry">Add New Entry</a>
        </div>
    </div>
</div>

<!-- ************************************************ -->
<!-- Buttons -->
<!-- ************************************************ -->

<div data-bind="if: inEditMode">
    <div class="topMargin5 topBorder clear">
        <div class="inline alignRight topMargin5">
            <button type="button" class="btn btn-default" data-bind="click: onSave">Save</button>
            <button type="button" class="btn btn-default" data-bind="click: onCancel">Cancel</button>
        </div>
    </div>
</div>