<div class="panel panel-default">
    <div class="panel-heading">
        <div data-bind="text: niceHeader()"></div>
    </div>

    <div class="panel-body">
        <div>
            <div class="inline narrow fieldLabel">Id</div>
            <div class="inline narrow" data-bind="text: claimEntry()._id"/>
        </div>

        <div>
            <div class="inline narrow fieldLabel">Entered on</div>
            <div class="inline narrow">
                <input type="text" class="form-control normal input-sm" id="claimEntry-entryDate"
                       data-bind="datetimePicker: {
                              datepicker: true,
                              timepicker: true,
                              dateValue : claimEntry().entryDate}"/>
            </div>
        </div>

        <div class="topMargin">
            <div class="inline narrow fieldLabel">Due on</div>
            <div class="inline narrow">
                <input type="text" class="form-control normal input-sm" id="claimEntry-dueDate"
                       data-bind="datetimePicker: {
                              datepicker: true,
                              timepicker: true,
                              dateValue: claimEntry().dueDate}"/>

            </div>
        </div>

        <div class="topMargin">
            <div class="narrow fieldLabel" style="display: table-cell">
                Summary
            </div>
            <div class="inline" style="display: table-cell; width: 95%; padding-left: 3px">
                <textarea class="form-control" rows="1"
                          data-bind="value: claimEntry().summary" placeholder="Note"></textarea>
            </div>
        </div>

        <div class="topMargin">
            <div class="narrow fieldLabel" style="display: table-cell">
                Description
            </div>
            <div class="inline" style="display: table-cell; width: 95%; padding-left: 3px">
                <textarea class="form-control" rows="3" id="claimEntry-textArea"
                          data-bind="value: claimEntry().description" placeholder="Note"></textarea>
            </div>
        </div>

        <!-- File upload component -->
        <div class="topMargin">
            <div class="narrow fieldLabel" style="display: table-cell">
                Attachments
            </div>
            <div class="inline" style="display: table-cell; width: 95%; padding-left: 3px">
                <file-upload-component params="'claimEntry': claimEntry"></file-upload-component>
            </div>
        </div>

        <!-- Maps component -->
        <div class="topMargin">
            <div class="narrow fieldLabel" style="display: table-cell">
                Location
            </div>
            <div class="inline" style="display: table-cell; width: 95%; padding-left: 3px">
                <maps-component params="'claimEntry': claimEntry"></maps-component>
            </div>
        </div>

        <!-- Separator -->
        <div class="topMargin topBorder"/>

        <!-- Buttons -->
        <div style="float: right" class="clear bottomMargin topMargin">
            <button type="button" class="btn"
                    data-bind="click: onSave,
                       css: { 'btn-primary' : stateChange(),
                              'btn-default' : !stateChange()}">Save
            </button>
            <button type="button" class="btn btn-default" data-bind="click: onCancel">Cancel</button>
        </div>
    </div>
</div>