<h3>Entry</h3>

<div>
    <div class="inline narrow fieldLabel">Id</div>
    <div class="inline narrow" data-bind="text: claimEntry()._id"/>
</div>
</div>

<div>
    <div class="inline narrow fieldLabel">Entered on</div>
    <div class="inline narrow">
        <input type="text" class="form-control normal" id="claimEntry-entryDate"
               data-bind="datetimePicker: {
                              datepicker: true,
                              timepicker: true},
                          value: claimEntry().entryDate"/>
    </div>
</div>

<div class="topMargin">
    <div class="inline narrow fieldLabel">Due on</div>
    <div class="inline narrow">
        <input type="text" class="form-control normal" id="claimEntry-dueDate"
               data-bind="datetimePicker: {
                              datepicker: true,
                              timepicker: true},
                          value: claimEntry().dueDate"/>

    </div>
</div>

<div class="topMargin">
    <div class="inline narrow fieldLabel">Note</div>
    <div class="inline narrow">
        <textarea style="width: 400px; height: 60px" class="form-control"
                  data-bind="value: claimEntry().description" placeholder="Note"></textarea>
    </div>
</div>

<!-- File upload component -->
<div class="topMargin">
    <div class="inline narrow fieldLabel">Attach docs</div>
    <div data-bind="fileDrag: claimEntry().attachments"></div>
</div>

<div data-bind="foreach: {data: claimEntry().attachments, as: 'file'}">
    <div>
        <a data-bind="attr: {href: '/download?id=' + file.id()}"><span data-bind="text: file.name"></span></a>
        <span data-bind="text: file.size"></span>
    </div>
</div>

<!-- Separator -->
<div class="topMargin topBorder"/>

<!-- Buttons -->
<div style="float: right" class="clear bottomMargin topMargin">
    <button type="button" class="btn btn-default" data-bind="click: onSave">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span class="leftMargin">Save</span>
    </button>

    <button type="button" class="btn btn-default" data-bind="click: onCancel">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="leftMargin">Cancel</span>
    </button>
</div>