<!-- ************************************************ -->
<!--Claim form-->
<!-- ************************************************ -->

<div data-bind="if: inEditMode">
    <h3>Claim</h3>

    <div>
        <div class="inline narrow">Id</div>
        <div class="inline" data-bind="text: claim()._id"></div>
    </div>

    <div>
        <div class="inline narrow">Entry date</div>
        <input type="text" class="form-control normal inline" id="claimEntry-entryDate"
               data-bind="datetimePicker: {
                              datepicker: true,
                              timepicker: true},
                          value: claim().entryDate"/>
    </div>
    <div>
        <div class="inline narrow">Description</div>
        <textarea class="inline form-control" style="width: 70%; height: 10%" data-bind="value: claim().description"/>
    </div>

    <div class="topMargin10"/>
</div>

<!-- ************************************************ -->
<!--List Claim Entries -->
<!-- ************************************************ -->

<h3>Entries</h3>

<div data-bind="foreach: {data: claimEntries, as: 'entry' }">
    <div class="listItem" data-bind="click: $parent.onClaimEntryClick">
        <div class="inline">
            <a data-bind="attr: {href: '#/claimEntry/' + entry._id}">
                <span data-bind="text: entry.description"></span>
            </a>
        </div>
        <div class="inline alignRight">
            <div class="glyphicon glyphicon-chevron-right"></div>
        </div>
    </div>
</div>

<!-- ************************************************ -->
<!--New Entry -->
<!-- ************************************************ -->

<div class="topMargin2PC topBorder clear">
    <div class="inline topPadding1PC ">
        <spam class="glyphicon glyphicon-plus"></spam>
        <a href="#/claimEntry">Add New Entry</a>
    </div>

    <div class="inline alignRight topPadding1PC ">
        <button type="button" class="btn btn-default" data-bind="click: onSave">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span class="leftMargin2">Save</span>
        </button>

        <button type="button" class="btn btn-default" data-bind="click: onCancel">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span class="leftMargin2">Cancel</span>
        </button>
    </div>

</div>
