<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title> Agent 007</title>
    <meta name="description" content="Insurance inspections management app">
    <meta name="author" content="LogiCube">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/invoice .css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="../../css/sortable.css">
    <link rel="stylesheet" type="text/css" href="../../css/app.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">

    <script src="../../../lib/require.js"></script>
    <script src="../../../lib/requireConfig.js"></script>
</head>

<body class="menu-on-top">

<!-- #HEADER -->
<nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Agent 007</a>
    </div>

    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Claims</a></li>
            <li><a href="#">Billing</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </div>

</nav>
<!-- END NAVIGATION -->

<!-- #MAIN PANEL -->
<div id="main" role="main">

    <!-- Add contact -->
    <add-contact-component></add-contact-component>

    <!-- Notifications -->
    <div data-bind="component: 'notifier-component'"></div>

    <!-- User profile -->
    <div data-bind="component: 'user-profile-component'"></div>

    <!-- #MAIN CONTENT -->
    <div id="content">
        <!-- Summary Component -->
        <div id="dashboardPanel" class="slidingContainer dashboardPanel">
            <div id="dashboardPanelContent" class="dashboardPanelContent">

                <!-- Widget container -->
                <section id="widget-grid">
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                            <div data-bind="component: 'summary-component'"></div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                            <div data-bind="component: 'claims-list-component'"></div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                            <article class="col-xs-12 col-sm-12 col-md-8 col-lg-8 sortable-grid ui-sortable">
                                <div data-bind="component: 'stats-component'"></div>
                                <div data-bind="component: 'maps-dash-component'"></div>
                            </article>
                            <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4 sortable-grid ui-sortable">
                                <div data-bind="component: 'contact-widget-component'"></div>
                            </article>
                        </article>
                    </div>
                    <!--
                        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div data-bind="component: 'quick-add-component'"></div>
                        </article>
                        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        </article>
                    -->
                </section>
            </div>
        </div>
    </div>

    <!-- **** Claim module **** -->
    <div id="claimPanel" class="slidingContainer claimPanel" style="width: 0%;">
        <!-- Note: Still using module for the afterRender fn -->
        <div data-bind="module: {name: 'app/components/claim/claimVM',
                                         template: 'app/components/claim/claim',
                                         afterRender: startRouter}"></div>
    </div>

    <!-- **** Claim Entry module **** -->
    <div id="claimEntryPanel" class="slidingContainer claimEntryPanel" style="width: 0%;">
        <div id="claimEntryPanelContent" class="claimEntryPanelContent">
            <div data-bind="component: 'task-entry-component'"></div>
        </div>
    </div>
</div>
<!-- END #MAIN CONTENT -->
</div>
<!-- END #MAIN PANEL -->

<!-- #PAGE FOOTER -->
<footer>
    <div class="page-footer">
        <p class="txt-color-white text-right paddingRight5">Logicube © 2013-2015</p>
    </div>
</footer>
<!-- END FOOTER -->

</body>

<script type="application/javascript">
    /**
     * Load libs and init Knockout - on app startup. See requireConfig.js
     */
    require(['jquery', 'knockout', 'KOAmd', 'text', 'amplify', 'app/components/appVM', 'shared/dateUtils', 'app/utils/session',
                'smartnotify', 'app/utils/koDatetimePickerBinding', 'app/utils/koWYSIWYGBinding',
                'app/utils/koTextTruncateBinding', 'app/utils/koSortableBinding', 'app/utils/koAutoComplete',
                'velocity', 'bootstrap', 'KOXeditable', 'bootstrapTable', 'tableExport'],
            function ($, ko, KOAmd, text, amplify, AppVM, DateUtils, Session) {
                console.log('Init App');

                DateUtils.enableJSONDateHandling();
                Session.setCurrentUserId("TestUser");
                Session.clearContacts();


                // Knockout AMD supoprt setup
                ko.amdTemplateEngine.defaultRequireTextPluginName = "text";
                ko.amdTemplateEngine.defaultPath = "/";
                ko.amdTemplateEngine.defaultSuffix = ".tmpl.html";

                // Register components
                ko.components.register('billing-component', {require: 'app/components/billing/billingComponent'});
                ko.components.register('billing-item-component', {require: 'app/components/billingItem/billingItemComponent'});
                ko.components.register('contact-component', {require: 'app/components/contact/contactComponent'});
                ko.components.register('add-contact-component', {require: 'app/components/contact/addContactComponent'});
                ko.components.register('contact-widget-component', {require: 'app/components/contact/contactWidgetVM'});
                ko.components.register('file-upload-component', {require: 'app/components/fileUpload/fileUploadComponent'});
                ko.components.register('summary-component', {require: 'app/components/summary/summaryVM'});
                ko.components.register('claims-list-component', {require: 'app/components/claimsList/claimsListVM'});
                ko.components.register('notifier-component', {require: 'app/components/notifier/notifierVM'});
                ko.components.register('maps-component', {require: 'app/components/maps/mapsComponent'});
                ko.components.register('maps-dash-component', {require: 'app/components/maps/mapsDashboardVM'});
                ko.components.register('status-editor-component', {require: 'app/components/statusEditor/statusEditorComponent'});
                ko.components.register('quick-add-component', {require: 'app/components/quickAdd/quickAddVM'});
                ko.components.register('stats-component', {require: 'app/components/stats/statsVM'});
                ko.components.register('task-entry-component', {require: 'app/components/taskEntry/taskEntryVM'});
                ko.components.register('user-profile-component', {require: 'app/components/userProfile/userProfileComponent'});

                // Knockout bindings init
                ko.applyBindings(new AppVM());

                JSON.prettyPrint = function (str) {
                    var maxLength = 80;
                    return JSON.stringify(str).substring(0, maxLength);
                };

                // Initializing the widgets.
                // TODO find a cleaner way trigger once KO is done with initial render
                /*setTimeout(function(){
                 $('#widget-grid').jarvisWidgets({
                 grid : 'article',
                 widgets : '.jarviswidget',
                 localStorage : true,
                 deleteSettingsKey : '#deletesettingskey-options',
                 settingsKeyLabel : 'Reset settings?',
                 deletePositionKey : '#deletepositionkey-options',
                 positionKeyLabel : 'Reset position?',
                 sortable : true,
                 buttonsHidden : true,
                 // toggle button
                 toggleButton : false,
                 toggleClass : 'fa fa-minus | fa fa-plus',
                 toggleSpeed : 200,
                 onToggle : function() {
                 },
                 // delete btn
                 deleteButton : false,
                 deleteClass : 'fa fa-times',
                 deleteSpeed : 200,
                 onDelete : function() {
                 },
                 // edit btn
                 editButton : false,
                 editPlaceholder : '.jarviswidget-editbox',
                 editClass : 'fa fa-cog | fa fa-save',
                 editSpeed : 200,
                 onEdit : function() {
                 },
                 // color button
                 colorButton : false,
                 // full screen
                 fullscreenButton : false,
                 fullscreenClass : 'fa fa-expand | fa fa-compress',
                 fullscreenDiff : 3,
                 onFullscreen : function() {
                 },
                 // custom btn
                 customButton : false,
                 customClass : 'folder-10 | next-10',
                 customStart : function() {
                 alert('Hello you, this is a custom button...');
                 },
                 customEnd : function() {
                 alert('bye, till next time...');
                 },
                 // order
                 buttonOrder : '%refresh% %custom% %edit% %toggle% %fullscreen% %delete%',
                 opacity : 1.0,
                 dragHandle : '> header',
                 placeholderClass : 'jarviswidget-placeholder',
                 indicator : true,
                 indicatorTime : 600,
                 ajax : true,
                 timestampPlaceholder : '.jarviswidget-timestamp',
                 timestampFormat : 'Last update: %m%/%d%/%y% %h%:%i%:%s%',
                 refreshButton : true,
                 refreshButtonClass : 'fa fa-refresh',
                 labelError : 'Sorry but there was a error:',
                 labelUpdated : 'Last Update:',
                 labelRefresh : 'Refresh',
                 labelDelete : 'Delete widget:',
                 afterLoad : function() {
                 },
                 rtl : false, // best not to toggle this!
                 onChange : function() {

                 },
                 onSave : function() {

                 },
                 ajaxnav : $.navAsAjax // declears how the localstorage should be saved (HTML or AJAX page)

                 })}, 2000);*/
            });

</script>


</html>
