<!DOCTYPE html>
<html lang="en-us">
<head>
    <title> My Claims Helper </title>
    <meta charset="utf-8">
    <meta name="description" content="Productivity tool for Insurance Adjusters">
    <meta name="author" content="Epitomic.Systems">
    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <audio id="msgAlertAudio" src="audio/messagebox.mp3" preload="auto"></audio>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Lato'>
    <link rel="stylesheet" type="text/css" href="css/index-lib-built.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <script src="../../../lib/lock-9.1.min.js"></script>
    <script src="../../../lib/require.js"></script>
    <script src="../../../lib/requireConfig.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home" style="font-size: 26px">
                Claims<span class="secondary">Helper</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="#/home" data-toggle="collapse" data-target=".navbar-collapse">Tasks</a></li>
                <li><a href="#/claim/list" data-toggle="collapse" data-target=".navbar-collapse">Claims</a></li>
                <li><a href="#/billing" data-toggle="collapse" data-target=".navbar-collapse">Billing</a></li>
                <li><a href="#/travel" data-toggle="collapse" data-target=".navbar-collapse">Travel</a></li>
                <li><a href="#/contacts" data-toggle="collapse" data-target=".navbar-collapse">Contacts</a></li>
                <li><a href=""
                       data-toggle="collapse" data-target=".navbar-collapse"
                       data-bind="click: router.showMsgsPopup"
                       style="padding-right: 0; padding-left: 10px">
                        <span class="badge badge-important pull-right navbar-msg-count"
                              data-bind="text: unreadMsgCount"></span>
                    <i class="fa fa-bell"></i></a>
                </li>
                <li>
                    <a href=""
                       data-toggle="collapse" data-target=".navbar-collapse"
                       data-bind="click: onUserNameLinkClick"
                       style="padding-right: 10px; padding-left: 0">
                        <span data-bind="text: userNameLinkText"
                              style="border-left: 1px solid white; padding-left: 5px"></span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- User profile -->
<div data-bind="component: 'user-profile-component'"></div>

<!-- #MAIN PANEL -->
<div style="position: relative; top: 85px;">

    <!-- **** Dashboard **** -->
    <div class="container">
        <div id="dashboardPanel" class="row dashboardPanel">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row hidden-xs">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div data-bind="component: 'stats-component'"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div data-bind="component: 'summary-component'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- **** Billing **** -->
    <div id="billingPanel" class="billingPanel container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="component: {name: 'billing-component'}"></div>
            </div>
        </div>
    </div>

    <!-- **** Travel **** -->
    <div id="travelPanel" class="travelPanel" data-bind="if: loadTravel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="component: 'travel-component'"></div>
            </div>
        </div>
    </div>

    <!-- **** Contacts **** -->
    <div id="contactsPanel" class="contactsPanel container" data-bind="if: loadContacts">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div data-bind="component: 'contact-widget-component'"></div>
            </div>
        </div>

        <!-- Add contact -->
        <add-contact-component></add-contact-component>
    </div>

    <!-- **** Claims list **** -->
    <div id="claimsListPanel" class="claimsListPanel container" data-bind="if: loadClaimsList">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="component: 'claims-list-component'"></div>
            </div>
        </div>
    </div>

    <!-- **** Claim edit/entry module **** -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="claimPanel" class="claimPanel inline pull-top">
                    <!-- Note: Still using module for the afterRender fn -->
                    <div data-bind="module: {name: 'app/components/claim/claimVM',
                                     template: 'app/components/claim/claim'}"></div>
                </div>

                <!-- **** Task edit/entry module **** -->
                <div id="claimEntryPanel" class="claimEntryPanel inline">
                    <div id="claimEntryPanelContent" class="claimEntryPanelContent">
                        <div data-bind="component: 'task-entry-component'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Notifications -->
    <div data-bind="component: 'notifier-component'"></div>

    <!-- Claim selector -->
    <div data-bind="component: 'claim-selector-component'"></div>

    <!-- Billing profile -->
    <div data-bind="component: 'billing-profile-component'"></div>

    <!-- Msgs component -->
    <admin-component></admin-component>
</div>
<!-- END #MAIN CONTENT -->
</body>

<script type="application/javascript">
    if (window.location.hostname != 'localhost') {
        require.config({
            paths: {
                // Load optimized file
                "app/components/start": "dist/app/components/start"
            }
        });
    }
    require(['app/components/start'], function () {
    });
</script>


</html>
