<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title> My Claims Helper </title>
    <meta name="description" content="Insurance inspections management app">
    <meta name="author" content="LogiCube">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap and libs -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="css/sortable.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <audio id="msgAlertAudio" src="audio/messagebox.mp3" preload="auto"></audio>

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <script src="../../../lib/require.js"></script>
    <script src="../../../lib/requireConfig.js"></script>

    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

</head>

<body class="menu-on-top">

<!-- Navigation header -->
<nav class="navbar navbar-default noBorder" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#main-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home" style="font-size: 26px">
            Claims Helper
        </a>
    </div>
    <!-- `collapse` class needed for smaller devices -->
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a fixed-width href="#/home">Dashboard</a></li>
            <li><a fixed-width href="#/claim/list">Claims</a></li>
            <li><a fixed-width href="#/billing">Billing</a></li>
            <li><a fixed-width href="#/travel">Travel</a></li>
            <li><a href="" data-bind="click: router.showMsgsPopup">
                    <span class="badge badge-important pull-right navbar-msg-count"
                          data-bind="text: unreadMsgCount"></span>
                <i class="fa fa-bell"></i></a>
            </li>
            <li>
                <!-- ko if: showApp -->
                <a href="" data-bind="click: router.showProfilePopup">
                    <i class="fa fa-user"></i>
                    <span data-bind="text: userName"
                          style="font-size: 70%"></span></a>
                <!-- /ko -->

                <!-- ko ifnot: showApp -->
                <a href="">
                    <span data-bind="text: 'Login', click: onLogin"
                          style="font-size: 70%"></span></a>
                <!-- /ko -->
            </li>
            <li class="navbar-right">
                <img class="visible-lg visible-md"
                     style="padding-top: 12px"
                     src="/img/comodo_secure_seal_113x59_transp.png">
            </li>
        </ul>
    </div>

</nav>
<!-- End navigation header -->

<!-- User profile -->
<div data-bind="component: 'user-profile-component'"></div>

<!-- #MAIN PANEL -->
<div id="main" role="main" data-bind="if: showApp">

    <!-- Msgs component -->
    <admin-component></admin-component>

    <!-- Add contact -->
    <add-contact-component></add-contact-component>

    <!-- Notifications -->
    <div data-bind="component: 'notifier-component'"></div>

    <!-- **** Dashboard **** -->
    <div id="dashboardPanel" class="slidingContainer dashboardPanel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="component: 'stats-component'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div data-bind="component: 'summary-component'"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4s">
                    <div data-bind="component: 'contact-widget-component'"></div>
                </div>
            </div>
        </div>
        <!--
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div data-bind="component: 'quick-add-component'"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            </div>
        -->
    </div>

    <!-- **** Billing **** -->
    <div id="billingPanel" class="slidingContainer billingPanel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="component: {name: 'billing-component'}"></div>
            </div>
        </div>
    </div>

    <!-- **** Travel **** -->
    <div id="travelPanel" class="slidingContainer travelPanel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="component: 'maps-dash-component'"></div>
            </div>
        </div>
    </div>

    <!-- **** Claims list **** -->
    <div id="claimsListPanel" class="slidingContainer claimsListPanel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="component: 'claims-list-component'"></div>
            </div>
        </div>
    </div>

    <!-- **** Claim edit/entry module **** -->
    <div id="claimPanel" class="slidingContainer claimPanel" style="width: 0%;">
        <!-- Note: Still using module for the afterRender fn -->
        <div data-bind="module: {name: 'app/components/claim/claimVM',
                                        template: 'app/components/claim/claim'}"></div>
    </div>

    <!-- **** Task edit/entry module **** -->
    <div id="claimEntryPanel" class="slidingContainer claimEntryPanel" style="width: 0%;">
        <div id="claimEntryPanelContent" class="claimEntryPanelContent">
            <div data-bind="component: 'task-entry-component'"></div>
        </div>
    </div>
</div>
<!-- END #MAIN CONTENT -->

<!-- Footer -->
<!--
<footer>
    <div class="page-footer">
        <p class="txt-color-white text-right paddingRight5">Logicube © 2013-2015</p>
    </div>
</footer>
-->
<!-- End footer -->

</body>

<script type="application/javascript">
    /**
     * Load libs and init Knockout - on app startup. See requireConfig.js
     */
    require(['jquery', 'knockout', 'KOAmd', 'text', 'amplify', 'app/components/appVM', 'shared/dateUtils', 'app/utils/session',
                'bootbox', 'app/utils/koDatetimePickerBinding', 'app/utils/koWYSIWYGBinding',
                'app/utils/koTextTruncateBinding', 'app/utils/koSortableBinding', 'app/utils/koAutoComplete', 'app/utils/koSelect2',
                'app/utils/koTaskEntryTag',
                'velocity', 'bootstrap', 'KOXeditable', 'bootstrapTable', 'tableExport', 'circliful', 'chartjs'],
            function ($, ko, KOAmd, text, amplify, AppVM, DateUtils, Session) {
                console.log('Init App');

                // Chart.noConflict restores the Chart global variable to it's previous owner
                // The function returns what was previously Chart, allowing you to reassign.
                var Chartjs = Chart.noConflict();
                DateUtils.enableJSONDateHandling();

                // Cleanup session
                Session.clearContacts();

                // Knockout AMD supoprt setup
                ko.amdTemplateEngine.defaultRequireTextPluginName = "text";
                ko.amdTemplateEngine.defaultPath = "/";
                ko.amdTemplateEngine.defaultSuffix = ".tmpl.html";

                // Register components
                ko.components.register('user-profile-component', {require: 'app/components/userProfile/userProfileComponent'});
                ko.components.register('contact-component', {require: 'app/components/contact/contactComponent'});
                ko.components.register('add-contact-component', {require: 'app/components/contact/addContactComponent'});
                ko.components.register('contact-widget-component', {require: 'app/components/contact/contactWidgetVM'});
                ko.components.register('file-upload-component', {require: 'app/components/fileUpload/fileUploadComponent'});
                ko.components.register('summary-component', {require: 'app/components/summary/summaryVM'});
                ko.components.register('claims-list-component', {require: 'app/components/claimsList/claimsListVM'});
                ko.components.register('notifier-component', {require: 'app/components/notifier/notifierVM'});
                ko.components.register('maps-component', {require: 'app/components/maps/mapsComponent'});
                ko.components.register('maps-dash-component', {require: 'app/components/maps/mapsDashboardVM'});
                ko.components.register('status-editor-component', {require: 'app/components/statusEditor/statusEditorComponent'});
                ko.components.register('quick-add-component', {require: 'app/components/quickAdd/quickAddVM'});
                ko.components.register('stats-component', {require: 'app/components/stats/statsVM'});
                ko.components.register('task-entry-component', {require: 'app/components/taskEntry/taskEntryVM'});
                ko.components.register('admin-component', {require: 'app/components/admin/adminComponent'});
                ko.components.register('billing-component', {require: 'app/components/billing/billingComponent'});
                ko.components.register('billing-item-component', {require: 'app/components/billingItem/billingItemComponent'});

                // Knockout bindings init
                ko.applyBindings(new AppVM());

                JSON.prettyPrint = function (str) {
                    var maxLength = 80;
                    return JSON.stringify(str).substring(0, maxLength);
                };
            });
</script>


</html>
