<div class="modal fade" id="msgs-modal" tabindex="-1" role="dialog"
     aria-labelledby="msgModalTitle" aria-hidden="true"
     style="width: 40%; top: 20%; margin: auto">

    <div class="modal-dialog demo-modal">
        <div class="modal-content">
            <div class="modal-header" id="msgs-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="msgModalTitle">Unread messages</h4>
            </div>
            <div class="modal-body" id="msgs-modal-body">
                <ul class="list-group">
                    <!-- ko foreach: msgs() -->
                        <li class="list-group-item"
                            data-bind="html: $data.body,
                                       css: 'list-group-item-' + $data.type,
                                       click: $parent.closeModal"></li>
                    <!-- /ko -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: onMarkAllAsRead">
                    Mark as read
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <!--
                <button type="button" class="btn btn-primary" data-bind="click: onServerBroadcast">
                    Broadcast
                </button>
                -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>