<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <i data-bind="taskEntryTag: claimEntry().tag()"></i>
            <div class="inline"
                 data-bind="text: niceHeader(),
                            attr: {title: 'Task Id ' + claimEntry()._id()}"></div>
        </h3>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="claimEntry-dueDate" class="col-sm-2 control-label">Due on</label>
                <div class="col-sm-10 inline">
                    <input type="text" class="form-control normal input-sm" id="claimEntry-dueDate"
                           data-bind="
                           disable: isClosed,
                           datetimePicker: {
                              datepicker: true,
                              timepicker: false,
                              dateValue: myDueDate}"/></div>
            </div>

            <div class="form-group">
                <label for="claimEntry-summary" class="col-sm-2 control-label">Summary</label>

                <div class="col-sm-10">
                    <textarea class="form-control" rows="1" id="claimEntry-summary"
                              data-bind="value: claimEntry().summary,
                                        disable: isClosed"
                              placeholder="Note"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="claimEntry-desc" class="col-sm-2 control-label">Description</label>

                <div class="col-sm-10">
                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#claimEntry-desc"
                         data-bind="ifnot: isClosed">
                        <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle txt-color-blueDark" data-toggle="dropdown" title="Font Size">
                                <i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default txt-color-blueDark" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                                    class="fa fa-bold"></i></a>
                            <a class="btn btn-default txt-color-blueDark" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                                    class="fa fa-italic"></i></a>
                            <a class="btn btn-default txt-color-blueDark" data-edit="strikethrough" title="Strikethrough"><i
                                    class="fa fa-strikethrough"></i></a>
                            <a class="btn btn-default txt-color-blueDark" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                                    class="fa fa-underline"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default txt-color-blueDark" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                            <a class="btn btn-default txt-color-blueDark" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                            <a class="btn btn-default txt-color-blueDark" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-indent"></i></a>
                            <a class="btn btn-default txt-color-blueDark" data-edit="indent" title="Indent (Tab)"><i class="fa fa-dedent"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                            <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>
                    <div class="form-control" id="claimEntry-desc"
                         data-bind="wysiwygEditor: myDescription,
                                    disable: isClosed"
                         placeholder="Note" style="overflow: scroll">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="claimEntry-dueDate" class="col-sm-2 control-label">Location</label>
                <div class="col-sm-8">
                    <!-- Maps component -->
                    <maps-component params="'claimEntry': claimEntry"></maps-component>
                </div>
            </div>

            <div class="form-group">
                <label for="claimEntry-dueDate" class="col-sm-2 control-label">Attachments</label>
                <div class="col-sm-10">
                    <!-- File upload component -->
                    <file-upload-component params="'claimEntry': claimEntry"></file-upload-component>
                </div>
            </div>

            <div class="form-group">
                <legend>
                    <label class="col-lg-2 control-label">Billing</label>
                </legend>
                <div class="col-lg-10">
                    <!-- Billing item component -->
                    <billing-item-component params="'billingItem': claimEntry().billingItem,
                                                    'disable'    : claimEntry().isClosed() || isBilled() "></billing-item-component>
                </div>
            </div>
        </form>

        <!-- Buttons -->
        <footer>
            <div class="form-actions row">
                <div class="col-lg-7">
                    <!-- ko ifnot: isClosed -->
                        <!-- ko if: isSaved -->
                        <button type="button"
                                data-toggle="tooltip" data-placement="top"
                                data-bind="click: onDelete,
                                           enable: isNotBilled,
                                           css: isBilled() ? 'btn btn-default' : 'btn btn-danger'">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </button>
                        <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: isBilled -->
                    <div class="inline leftMargin2pc">
                        <span class="color-dark-grey">Can't delete since it has been billed already.</span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: isNotBilled -->
                    <div class="inline leftMargin2pc">
                        <span class="color-dark-grey"><strong>Last updated</strong></span>
                        <span class="color-dark-grey" data-bind="text : DateUtils.niceDate(claimEntry().updateDate())"></span>
                    </div>
                    <!-- /ko -->

                </div>
                <div class="col-lg-5">
                    <button type="button" class="btn btn-default pull-right" data-bind="click: onCancel">Close</button>

                    <!-- ko if: isClosed -->
                    <span class="text-primary leftMargin5">
                        <i class="fa fa-lock">   Claim is closed</i>
                    </span>
                    <!-- /ko -->

                    <!-- ko ifnot: isClosed -->
                    <button type="button" class="btn pull-right leftMargin2pc rightMargin5"
                            data-bind="click: onSave,
                                   css: { 'btn-info' : stateChange(),
                                          'btn-default' : !stateChange()}">Save
                    </button>
                    <!-- /ko -->
                </div>
            </div>
        </footer>
    </div>
</div>
