<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Travel

            <div class="pull-right" role="menu">
                <label class="input">
                    <i class="icon-append fa fa-question-circle"></i>
                    <input type="text" class="maps-datepicker"
                           data-bind="datetimePicker: {
                                              datepicker: true,
                                              timepicker: false,
                                              dateValue: travelDate}"/>
                    <b class="tooltip tooltip-top-right">
                        <i class="fa fa-warning txt-color-teal"></i>
                        Select the date to show travel for</b>
                </label>
            </div>
        </h3>
    </div>

    <div class="panel-body">
        <div class="widget-body no-padding">
            <div class="tab-content padding-5" id="map-container">
                <div id="map-dash" style="width:100%; height:100%"></div>
                <div id="directionsPanel" style="width:100%;height 100%"
                     data-bind="visible: showDirections"></div>
            </div>
        </div>
    </div>

</div>