<div id="maps">
    <input id="pac-input" class="form-control bottomMargin" type="text"
           placeholder="Start typing business name or address"
           data-bind="value: claimEntryObserv().location() && claimEntryObserv().location().formatted_address
                                ? claimEntryObserv().location().formatted_address
                                : ''">

    <a id="map-new-tab"
       style="cursor:pointer;"
       class="leftMargin5"
       data-bind="click: onShowMap">
        <i class="fa fa-external-link-square"></i> Show map</a>

    <div id="dialog-message" title="Map">
        <div class="hr hr-12 hr-double"></div>
        <div id="map-canvas" class="maps" style="width: 100%; height: 100%"></div>
    </div>
</div>