<div id="maps">
    <input id="pac-input" class="controls wide" type="text">
    <button id="map-button" data-bind="click: showMap">Map</button>
    <button id="modal-button" type="button" data-toggle="modal" data-target="#mapModal" data-bind="click: mapModal">Map</button>
    <div id="map-canvas" class="maps"></div>

    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <input id="modal-input" class="controls wide" type="text">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                    <div id="map-modal" class="maps"></div>
                </div>
            </div>
        </div>
    </div>

</div>