<div class="fullWidthCentered">
    <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <!-- **** Nav panel **** -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
                <div id="map-nav-container">

                    <!-- Form -->
                    <form class="form-inline bottomMargin5" role="form">
                        <!-- Due date group filter -->
                        <div class="form-group dropdown-container paddingRight5">
                            <span class="leftMargin5 text-between-dropdown topMargin5">Travel</span>
                            <select class="form-control input dropdown"
                                    data-bind="value: dueDateFilter,
                                                     options: dueDateFilters,
                                                     optionsText: 'description'"></select>

                            <!-- Due date - day group filter -->
                            <!-- ko if:showDueDateDaysFilter -->
                            <input class="form-control input dropdown"
                                   style="width: 50px"
                                   type="number" min="0"
                                   data-bind="value: dueDateDaysFilterValue"/>
                            <span class="text-between-dropdown topMargin5 leftMargin5">days</span>
                            <!-- /ko -->
                        </div>
                    </form>
                    <!-- End of form -->

                    <!-- Entries -->
                    <div>
                        <table class="table table-hover table-responsive summaryTable">
                            <tbody data-bind="foreach : {data: arrangeByKeys, as: 'groupKey'}"
                                   class="summaryGroupTableBody">

                            <!-- Header row -->
                            <tr class="summaryGroupHeaderRow">
                                <td colspan="7" data-bind="click: $parent.onSummaryHeaderClick">
                                    <span data-bind="css: 'fa fa-caret-down summaryRow' + groupKey.replace(' ', '') + 'Arrow'"
                                          style="font-size: 1.4em"></span>
                                    <span class="paddingRight5"></span>
                                            <span class="summaryGroupSubHeader"
                                                  data-bind="text: $parent.groupBy().groupDisplayNameFn(groupKey),
                                                             css: {'summaryGroupSubHeaderOverDue': groupKey == 0}"></span>
                                            <span class="summaryGroupSubHeader"
                                                  data-bind="text: '(' + ($parent.claimEntriesGrouped()[groupKey].length) + ')'"></span>
                                </td>
                            </tr>

                            <!-- ko foreach: {data: $parent.claimEntriesGrouped()[groupKey], afterRender: $parent.onAfterRender} -->
                            <tr draggable="true" class="summaryRow"
                                data-bind="event: {dragstart: $parents[1].onSummaryRowDragStart.bind($parents[1]),
                                               dragend  : $parents[1].onSummaryRowDragEnd.bind($parents[1]),
                                               dragenter: $parents[1].onSummaryRowDragEnter.bind($parents[1]),
                                               dragover:  $parents[1].onSummaryRowDragOver.bind($parents[1]),
                                               dragleave: $parents[1].onSummaryRowDragLeave.bind($parents[1]),
                                               mouseover: $parents[1].onSummaryRowMouseOver.bind($parents[1]),
                                               mouseout: $parents[1].onSummaryRowMouseOut.bind($parents[1])},
                                               css: 'summaryRow' + groupKey.replace(' ', ''),
                                               attr: {'data-entryId': $data._id,
                                                      'data-group': groupKey,
                                                      'data-displayOrder': $data.displayOrder},
                                               click: $parents[1].onClaimEntrySelect">

                                <td>
                                    <p>
                                        <img data-bind="attr: {src: $parents[1].markerIconFor.bind($parents[1], $data)()}"
                                             style="zoom:.4;"/>
                                        <strong>
                                            <span data-bind="text: $data.fileNum"></span>
                                            <span>/</span>
                                            <span data-bind="text: $data.insuranceCompanyFileNum"></span>
                                        </strong>
                                    </p>
                                    <span data-bind="textTruncate: $data.summary, maxLength: 50"></span>
                                    <p data-bind="ifnot: $data.location">
                                        <span class="text-danger">No location</span>
                                    </p>
                                </td>
                            </tr>
                            <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                    <!-- End of entries -->
                </div>
            </div>

            <!-- **** Maps panel **** -->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">

                <!-- Buttons -->
                <div class="row bottomMargin5">
                    <div id="travel-toolbar">
                        <button type="button" class="btn btn-default ghost-button"
                                data-bind="click: onPrint">
                            <span class="fa fa-print"></span>
                            Print
                        </button>
                        <button type="button" class="btn btn-default ghost-button"
                                data-bind="click: onDirections">
                            <span class="fa fa-car"></span>
                            Directions
                        </button>
                    </div>
                </div>

                <!-- Google maps -->
                <div class="row">
                    <div id="map-container" data-bind="ifnot: showLocationError">
                        <div id="map-dash" style="width:100%; height:100%"></div>
                        <div id="directionsPanel" style="width:100%;height 100%"
                             data-bind="visible: showDirections"></div>
                    </div>
                    <div id="map-dash-error" data-bind="if: showLocationError" class="bg-warning">
                        <div style="width:100%; padding-top:100px" class="text-center">
                            <h4>
                                <small>Please allow the browser to use your location. Its needed to display the Travel
                                    map
                                </small>
                            </h4>
                            <a href="https://support.google.com/chrome/answer/142065?hl=en" target="_blank">How to
                                enable location sharing?</a>
                        </div>
                    </div>
                </div><!-- end maps panel -->

            </div><!-- end maps panel -->
        </div><!-- end row -->

    </div><!-- end panel-body -->
</div><!-- end panel -->
</div>
