<div class="fileDropBox"
     data-bind="event: {'dragenter': dragenter,
                        'dragover': dragover,
                        'drop': drop}">

    Drag n drop files here or
    <label class="btn btn-info btn-md">
        <input type="file" class="topMargin leftMargin" multiple
               data-bind="attr: {id: domElemId},
                          event: {'change': handleFilesSelection}">
        Choose file ...
    </label>

    <div style="position: relative; left: 40%"
         class="txt-color-red"
         data-bind="visible: showUploadingSpinner">
        <i class="fa fa-spinner fa-spin"></i> Uploading ...
    </div>

    <!-- List attachments -->
    <!-- ko if: listFiles -->
    <ol class="topMargin5" data-bind="foreach: {data: claimEntry().attachments, as: 'file'}">
        <li>
            <span class="leftMargin">
                <a data-bind="attr: {href: '/download?id=' + file.id()}">
                    <span data-bind="text: file.name"></span></a>
            </span>
            <span data-bind="text: Math.round(file.size()/1024, 2) + 'K'" style="padding-left: 5px"></span>
            <span data-bind="click: $parent.onRemoveClick.bind($parent)" style="padding-left: 5px">
                <i class="fa fa-times-circle clearSearchIcon"></i>
            </span>
        </li>
    </ol>
    <!-- /ko -->
</div>