<div class="fileDropBox"
     data-bind="event: {'dragenter': dragenter,
                        'dragover': dragover,
                        'drop': drop}">

    <input type="file" class="topMargin leftMargin" multiple
           id="fileUpload-input"
           data-bind="event: {'change': handleFilesSelection}">

    <div style="position: relative; left: 40%"
         class="txt-color-red"
         data-bind="visible: showUploadingSpinner">
        <i class="fa fa-spinner fa-spin"></i> Uploading ...
    </div>
    <div class="backgroundLabel">Drag n drop files here</div>


    <!-- List attachments -->
    <ol class="topMargin5" data-bind="foreach: {data: claimEntry().attachments, as: 'file'}">
        <li>
            <span class="leftMargin">
                <a data-bind="attr: {href: '/download?id=' + file.id()}">
                    <span data-bind="text: file.name"></span>
                </a>
            </span>
            <span data-bind="text: Math.round(file.size()/1024, 2) + 'K' "></span>
        </li>
    </ol>
</div>